$fonts-url: '/fonts/';

@font-face {
    font-family: 'museo-sans';
    src: url($fonts-url + 'museo-sans-100-webfont.eot');
    src: url($fonts-url + 'museo-sans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-url + 'museo-sans-100-webfont.woff2') format('woff2'),
         url($fonts-url + 'museo-sans-100-webfont.woff') format('woff'),
         url($fonts-url + 'museo-sans-100-webfont.ttf') format('truetype'),
         url($fonts-url + 'museo-sans-100-webfont.svg#museo_sans100') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'museo-sans';
    src: url($fonts-url + 'museo-sans-300-webfont.eot');
    src: url($fonts-url + 'museo-sans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-url + 'museo-sans-300-webfont.woff2') format('woff2'),
         url($fonts-url + 'museo-sans-300-webfont.woff') format('woff'),
         url($fonts-url + 'museo-sans-300-webfont.ttf') format('truetype'),
         url($fonts-url + 'museo-sans-300-webfont.svg#museo_sans300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'museo-sans';
    src: url($fonts-url + 'museo-sans-500-webfont.eot');
    src: url($fonts-url + 'museo-sans-500-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-url + 'museo-sans-500-webfont.woff2') format('woff2'),
         url($fonts-url + 'museo-sans-500-webfont.woff') format('woff'),
         url($fonts-url + 'museo-sans-500-webfont.ttf') format('truetype'),
         url($fonts-url + 'museo-sans-500-webfont.svg#museo_sans500') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'museo-sans';
    src: url($fonts-url + 'museo-sans-500-italic-webfont.eot');
    src: url($fonts-url + 'museo-sans-500-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-url + 'museo-sans-500-italic-webfont.woff2') format('woff2'),
         url($fonts-url + 'museo-sans-500-italic-webfont.woff') format('woff'),
         url($fonts-url + 'museo-sans-500-italic-webfont.ttf') format('truetype'),
         url($fonts-url + 'museo-sans-500-italic-webfont.svg#museo_sans500_italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'museo-sans';
    src: url($fonts-url + 'museo-sans-700-webfont.eot');
    src: url($fonts-url + 'museo-sans-700-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-url + 'museo-sans-700-webfont.woff2') format('woff2'),
         url($fonts-url + 'museo-sans-700-webfont.woff') format('woff'),
         url($fonts-url + 'museo-sans-700-webfont.ttf') format('truetype'),
         url($fonts-url + 'museo-sans-700-webfont.svg#museo_sans700') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'indian-rupee';
    src: url($fonts-url + 'indian-rupee-webfont.eot');
    src: url($fonts-url + 'indian-rupee-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-url + 'indian-rupee-webfont.woff2') format('woff2'),
         url($fonts-url + 'indian-rupee-webfont.woff') format('woff'),
         url($fonts-url + 'indian-rupee-webfont.ttf') format('truetype'),
         url($fonts-url + 'indian-rupee-webfont.svg#rupee_foradianregular') format('svg');
    font-weight: normal;
    font-style: normal;
}