// reset for list
// @mixin listreset {
// 	margin: 0;
// 	padding: 0;
// 	list-style: none outside;
// }

// hide text
@mixin hide-text {
	overflow: hidden;
	text-indent: -9999px;
}

// wrap word
@mixin word-wrap {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

// placeholder
@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&::-moz-placeholder {opacity: 1; @content}
	&:-moz-placeholder {@content}
	&:-ms-input-placeholder {@content}
	&.placeholder {@content}
}