// data for mq plugin (for media queries)
//***************************************************************************
$mq-breakpoints: (
    mobile: 299px,
    mobile-wide: 440px
);

// path variables
//***************************************************************************
$img-path: '/images/';
$sprite-path: $img-path + 'sprite.png';

// colors pallete (http://name-of-color.com/)
//***************************************************************************
$COLOR-BLACK: #000;
$COLOR-WHITE: #fff;
$COLOR-SEASHELL: #f1f1f1;

// gray colors
$COLOR-CELESTE-APPROX: #ccc;
$COLOR-ALTO: #dbdbdb;
$COLOR-MERCURY: #e5e5e5;
$COLOR-MERCURY-APPROX: #e8e7e6;
$COLOR-GRAVEL-APPROX: #4b4b4b;
$COLOR-STARDUST-APPROX: #9e9e9e;
$COLOR-IRONSIDEGRAY-APPROX: #666;
$COLOR-NOBEL-APPROX: #b1b2b1;
$COLOR-WHITESMOKE-APPROX: #f6f4f4;
$COLOR-CHICAGO-APPROX: #615e5e;
$COLOR-PINKSWAN-APPROX: #bbb7b7;
$COLOR-STORMDUST-APPROX: #625f5e;
$COLOR-CARARRA-APPROX: #ebebeb;
$COLOR-ALABASTER: #fafafa;
$COLOR-HINTOFRED-APPROX: #faf8f8;
$COLOR-TAPA: #747474;

$COLOR-MINESHAFT-APPROX: #333;
$COLOR-SHARK-APPROX: #282828;

// green colors
$COLOR-JUNGLEGREEN-APPROX: #329C92;
$COLOR-VERDIGRIS-APPROX: #3fb1a7;
    $COLOR-RIPTIDE-APPROX: #83e9e0;
    $COLOR-SWANSDOWN-APPROX: #d9efed;
$COLOR-GREEN-RYB-APPROX: #61ab44;
    $COLOR-AQUAISLAND-APPROX: #a6dad5;
$COLOR-KEPPEL-APPROX: #349f95;

// red colors
$COLOR-CARMINEPINK-APPROX: #f14e4e;
$COLOR-ROSSOCORSA-APPROX: #d20000;

// blue colors
$COLOR-INDIGO-DYE-APPROX: #00456e;

// orange colors
$COLOR-TANGO-APPROX: #eb7718;
$COLOR-AMBER-APPROX: #ff7900;
$COLOR-MEATBROWN-APPROX: #e3c331;

$COLOR-TRAVERTINE-APPROX: #fefde8;

// general variables
//***************************************************************************
$base-min-width: 240px;

$base-font-size: 14px;
$base-line-height: 1.2857;
$base-font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
$add-font-family: 'museo-sans', 'Arial', 'Helvetica', sans-serif;
$base-text-interval: ($base-font-size * $base-line-height);

$base-text-color:                               $COLOR-MINESHAFT-APPROX;
$base-text-color-2:                             $COLOR-SHARK-APPROX;
$text-color-2:                                  $COLOR-GRAVEL-APPROX;
$text-color-3:                                  $COLOR-IRONSIDEGRAY-APPROX;
$text-color-4:                                  $COLOR-CHICAGO-APPROX;
$text-color-5:                                  $COLOR-PINKSWAN-APPROX;
$text-color-6:                                  $COLOR-STORMDUST-APPROX;
$text-color-7:                                  $COLOR-TAPA;

$base-background-color:                         $COLOR-WHITE;
$base-background-color-2:                       $COLOR-SEASHELL;
$base-background-color-3:                       $COLOR-WHITESMOKE-APPROX;
$base-background-color-4:                       $COLOR-ALABASTER;
$base-background-color-5:                       $COLOR-HINTOFRED-APPROX;
$base-background-color-6:                       $COLOR-MERCURY-APPROX;


$base-decor-color:                              $COLOR-JUNGLEGREEN-APPROX;
$base-decor-color-2:                            $COLOR-VERDIGRIS-APPROX;
$base-decor-color-3:                            $COLOR-KEPPEL-APPROX;
$base-decor-color-4:                            $COLOR-GREEN-RYB-APPROX;
$base-decor-color-5:                            $COLOR-INDIGO-DYE-APPROX;
$base-decor-color-6:                            $COLOR-TANGO-APPROX;
$base-decor-color-7:                            $COLOR-AMBER-APPROX;
$base-decor-color-8:                            $COLOR-AQUAISLAND-APPROX;
$base-decor-color-9:                            $COLOR-MEATBROWN-APPROX;
$base-decor-color-10:                           $COLOR-CARARRA-APPROX;

$base-link-color:                               $base-decor-color;

$base-form-text-color:                          $COLOR-BLACK;
$base-form-placeholder-color:                   $COLOR-STARDUST-APPROX;
$base-input-border-color:                       $COLOR-STARDUST-APPROX;

$base-border-color:                             $COLOR-ALTO;
$base-border-color-2:                           $COLOR-MERCURY;
$base-border-color-3:                           $COLOR-STARDUST-APPROX;
$base-border-color-4:                           $COLOR-CELESTE-APPROX;
$base-border-color-5:                           $COLOR-NOBEL-APPROX;

$color-disabled:                                $COLOR-MERCURY;
$color-disabled-2:                              $COLOR-NOBEL-APPROX;
$color-error:                                   $COLOR-CARMINEPINK-APPROX;
$color-error-2:                                 $COLOR-ROSSOCORSA-APPROX;
$color-warning:                                 $COLOR-TRAVERTINE-APPROX;
