#wrapper {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow-x: hidden;

	.zoom-enabled & {
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		top: -10px;
		overflow: hidden;
	}
}
