/* again link */
.again-link {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 11px 0 0;
	padding: 0 0 0 23px;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: $base-link-color;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 16px;
		height: 16px;
		margin: -8px 0 0;
		background: url($sprite-path) no-repeat -240px -136px;
	}
}
