/* alert unit */
.alert-unit {
	$alert-border-color: #eec574;
	$alert-bg: #fafbeb;
	$alert-color: #6d6969;
	$link-color: #2a9a90;

	margin: 0 0 20px;
	padding: 6px 16px 5px 6px;
	border: 2px solid $alert-border-color;
	border-width: 2px 0;
	box-shadow: 0 5px 4px rgba(#000, 0.1);
	font: 300 14px/17px $add-font-family;
	color: $alert-color;
	background: $alert-bg;

	&__text {
		position: relative;
		padding: 0 0 3px 23px;

		p {
			margin: 0;
		}
	}

	&_danger {

		.alert-unit__text {

			&:before {
				content: '';
				position: absolute;
				top: -1px;
				left: 0;
				width: 16px;
				height: 17px;
				background: url($sprite-path) no-repeat -370px -80px;
			}
		}
	}

	&_success {

		.alert-unit__text {

			&:before {
				content: '';
				position: absolute;
				top: -1px;
				left: 0;
				width: 16px;
				height: 17px;
				background: url($sprite-path) no-repeat -370px -102px;
			}
		}
	}

	&_removed {

		.alert-unit__text {

			&:before {
				content: '';
				position: absolute;
				top: -1px;
				left: 0;
				width: 17px;
				height: 16px;
				background: url($sprite-path) no-repeat -348px -124px;
			}
		}
	}

	&__ttl {
		display: block;
		font-weight: 500;
		color: $base-text-color-2
	}

	&__list {
		margin: 0;
		padding: 13px 0 10px 13px;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		color: $base-text-color-2;

		li {
			list-style: none outside;
			position: relative;
			padding: 0 0 0 10px;

			&:before {
				content: '';
				position: absolute;
				top: 4px;
				left: 0;
				width: 6px;
				height: 6px;
				border-radius: 4px;
				background: $base-text-color-2;
			}
		}
	}

	&__link-item {
		margin: -4px 0 0;
		text-align: right;
		font-weight: 700;
		font-size: 12px;
		line-height: 14px;

		a {
			color: $link-color;
		}
	}

	&__undo {
		display: inline-block;
		vertical-align: top;
		padding: 2px 0 0;
		text-decoration: underline;
		text-transform: uppercase;
		color: $alert-color;
	}
}
