/* autocomplete */
.unbxd-as-wrapper {
	position: absolute;
	left: 5px !important;
	right: 5px !important;
	border: 1px solid $base-border-color;
	border-radius: 0 0 3px 3px;
	border-radius: 0;
	font: 300 15px/18px $add-font-family;
	color: $base-text-color-2;
	text-transform: uppercase;
	background: #fff;
}

.unbxd-as-wrapper ul li {
	list-style: none outside;
	padding: 10px 9px;

	& + li {
		border-top: 1px solid $base-border-color;
	}
}
.unbxd-as-wrapper ul li.unbxd-as-insuggestion {
	padding: 10px 15px;
	color: inherit;
}

.unbxd-as-wrapper ul li.unbxd-as-keysuggestion {
	padding-left: 10px;
	border: 0;
}

.unbxd-as-maincontent {
	margin: 0;
	padding: 0;
	float: none !important;
	width: auto !important;
	border: 0 !important;
}

.unbxd-as-wrapper ul.unbxd-as-sidecontent {
	float: none;
	width: auto;
	border: 0;
	margin: 0;
}

.unbxd-as-wrapper ul li.unbxd-as-popular-product {
	border-bottom: 0;
}

.unbxd-as-popular-product-info {
	text-transform: none;
	height: auto !important;
	overflow: hidden;
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-image-container {
	float: left;
	width: 80px;
	max-height: none;
	min-height: 1px;
	margin: 0 10px 0 0;
	text-align: center;

	@include mq($from: mobile-wide) {
		width: 112px;
	}

	img {
		max-width: 100%;
		max-height: none;
		min-height: 1px;
		vertical-align: top;
	}
}

.unbxd-as-wrapper ul li .unbxd-as-popular-product-name {
	padding: 6px 0 0;
	overflow: hidden;
}

span.unbxd-as-popular-product-name-text {
	margin: 0 0 11px;
	min-height: 32px;
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	text-transform: uppercase;
}

.unbxd-as-popular-product-name-price {
	float: none;
	margin: 0;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: $base-decor-color-6 !important;
}