/* back link */
.back-link {
	display: inline-block;
	vertical-align: top;
	position: relative;
	min-height: 16px;
	margin: 0 5px 10px 0;
	padding: 0 0 0 23px;
	font: 500 12px/14px $add-font-family;
	color: $text-color-4;

	&:before {
		content: '';
		position: absolute;
		top: 2px;
		left: 0;
		width: 16px;
		height: 11px;
		background: url($sprite-path) no-repeat 0 -66px;
	}

	.links-panel & {
		float: left;
	}

	&_type_circle {
		padding-left: 21px;
		font-size: 14px;
		line-height: 16px;

		&:before {
			width: 16px;
			height: 16px;
			top: 0;
			background-position: -40px -58px;
		}
	}

	&_type_empty {
		margin: 0;
		width: 19px;
		height: 19px;
		margin: 0;
		padding: 0;
		@include hide-text;
		background: url($sprite-path) no-repeat -58px -58px;

		&:before {
			display: none;
		}
	}
}
