/* block title */
.block-title {
	position: relative;
	margin: 0 0 10px;
	padding: 0 0 8px;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	color: $base-decor-color-2;

	@include mq($from: mobile) {
		font-size: 24px;
		line-height: 28px;
	}

	.info-item & {

		@include mq($from: mobile) {
			margin: 0 0 27px;
		}
	}

	.info-item_type_why & {

		@include mq($from: mobile) {
			margin: 0 0 23px;
		}
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		font-size: 0;
		line-height: 0;
		background-color: #e2e2e2;
		background: linear-gradient(to right, #ffffff 0%,#f9f9f9 7%,#e9e9e9 17%,#e2e2e2 24%,#e2e2e2 76%,#e9e9e9 83%,#f9f9f9 93%,#ffffff 100%);
	}
}
