/* bullet navigation */
.bullet-nav {
	text-align: center;

	ul {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		overflow: hidden;
	}

	li {
		list-style: none outside;
		display: inline-block;
		vertical-align: top;
		width: 12px;
		height: 12px;
		margin: 0 4px;
		border-radius: 20px;
		text-align: left;
		@include hide-text;
		background: $text-color-3;
	}

	a {
		display: block;
		height: 100%;
	}

	.active {
		background: $base-decor-color-9;
	}

	&_type_small {

		li {
			margin: 0 1px;
			width: 5px;
			height: 5px;
			border: 1px solid $base-input-border-color;
			border-radius: 3px;
			background: $text-color-2;
		}

		.active {
			background: #fff;
		}
	}
}
