/* buttons */
.button {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 10px 15px;
	border: 0;
	font: 500 16px/20px $add-font-family;
	color: #fff;
	background-color: $base-decor-color;
	background-image: linear-gradient(to bottom, #2ba6a6 0%,#239599 25%,#065665 85%,#024c5c 100%);

	&_type_info {
		padding: 4px 8px 4px 23px;
		font-weight: 300;
		font-size: 10px;
		line-height: 13px;
		letter-spacing: -0.2px;

		.ico-info {
			position: absolute;
			top: 50%;
			left: 7px;
			width: 13px;
			height: 13px;
			margin: -7px 0 0;
			@include hide-text;
			background: url($sprite-path) no-repeat -240px 0;
		}
	}

	&:active {
		text-decoration: none;
	}
}

.button-choose {
	display: block;
	position: relative;
	margin: 0 0 18px;
	padding: 19px 15px 20px;
	border-radius: 4px;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: -1px 1px 1px rgba(#000, 0.1);
	color: #fff;
	background-color: #197180;
	background-image: linear-gradient(to bottom, #2f9690 0%,#258689 26%,#0b5976 74%,#01496f 100%);

	@include mq($from: mobile) {
		font-size: 19px;
		line-height: 22px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin: -1px auto 0;
		width: 0;
		height: 0;
		font-size: 0;
		line-height: 0;
		border-style: solid;
		border-color: #01496f transparent;
		border-width: 12px 12px 0;
	}

	span {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 0 13px 0 0;

		&:after {
			content: '»';
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.info-button {
	display: block;
	position: relative;
	padding: 9px 36px 9px 10px;
	border-radius: 3px 0 0 3px;
	font-weight: 700;
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	text-align: center;
	overflow: hidden;
	background-color: $color-error;
	background-image: linear-gradient(to bottom, #d83939 0%,#e94747 100%);

	@include mq($from: mobile) {
		margin: 0 15px;
		font-size: 15px;
		line-height: 18px;
	}

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		margin: auto;
		width: 20px;
		height: 50px;
		margin: -25px 0 0;
		background: url($sprite-path) no-repeat 0 -80px;
	}

	span {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 0 0 0 24px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			width: 16px;
			height: 16px;
			margin: -8px 0 0;
			background: url($sprite-path) no-repeat -258px 0;
		}
	}
}

.btn-submit {
	display: inline-block;
	vertical-align: middle;
	height: 26px;
	padding: 0 15px;
	border: 0;
	font: 500 12px/26px $add-font-family;
	text-transform: uppercase;
	color: #fff;
	background: $base-decor-color-6;
}

.btn-big-submit {
	display: block;
	width: 100%;
	padding: 0 15px;
	border: 0;
	border-radius: 4px;
	font: 16px/35px Arial, Helvetica, sans-serif;
	text-align: center;
	color: #fff;
	background: $base-decor-color-7;
}

.btn-product {
	display: block;
	padding: 0 10px;
	border: 0;
	font: 700 17px/18px $add-font-family;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	white-space: nowrap;
	background: $base-decor-color-6;

	&[disabled],
	&.disabled {
		background: $color-disabled-2;
	}

	.step-box & {
		margin: 0 0 16px;
	}

	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 40px;
	}

	&__wrap {
		display: inline-block;
		vertical-align: middle;
		padding: 5px 0 2px;
		white-space: normal;
	}

	small {
		display: block;
		margin: -4px 0 0;
		font-weight: 500;
		font-size: 10px;
		text-transform: none;
	}

	&_type_buy {
		font-size: 18px;
	}

	&_type_extra {
		background: $base-decor-color-3;
	}
}

button.btn-product {
	width: 100%;
}

.btn-view {
	display: block;
	margin: 0 0 13px;
	padding: 9px 10px 8px;
	font: 500 11px/14px $add-font-family;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background: $base-decor-color-3;

	.detail-mini + & {
		margin-top: -3px;
	}
}

.btn-prev,
.btn-next {
	position: relative;
	z-index: 10;
	display: inline-block;
	vertical-align: top;
	border: 0;
	width: 34px;
	height: 34px;
	@include hide-text;
	outline: none;
	background: url($sprite-path) no-repeat -80px -40px;
}

.btn-next {
	background-position: -120px -40px;
}

.btn-show-more {
	display: inline-block;
	vertical-align: middle;
	min-width: 81px;
	padding: 7px 8px 6px;
	border: 2px solid $base-decor-color;
	border-radius: 3px;
	font: 500 12px/14px $add-font-family;
	text-align: center;
	color: $base-link-color;

	&:active {
		text-decoration: none;
	}

	&__more {
		display: none;
	}

	&_state_less {
		.btn-show-more__less {
			display: none;
		}

		.btn-show-more__more {
			display: block;
		}
	}
}

.btn-countinue {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 6px 50px 6px 22px;
	font: 500 11px/14px $add-font-family;
	text-transform: uppercase;
	color: #fff;
	background: $base-decor-color-6;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 34px;
		width: 1px;
		background: darken($base-decor-color-6, 10%);
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 8px;
		margin: auto;
		width: 19px;
		height: 19px;
		background: url($sprite-path) no-repeat -280px -80px;
	}

	&_size_big {
		display: block;
		box-sizing: border-box;
		width: 100%;
		padding: 13px 70px 13px 5px;
		font-weight: 700;
		font-size: 18px;
		line-height: 20px;
		text-align: center;

		&:before {
			right: 60px;
		}

		&:after {
			width: 32px;
			height: 32px;
			background-position: -280px -102px;
		}
	}

	&.loading {

		&:after {
			display: none;
		}
	}
}

.btn-trash {
	display: inline-block;
	vertical-align: middle;
	border: 0;
	width: 22px;
	height: 25px;
	text-align: left;
	@include hide-text;
	background: url($sprite-path) no-repeat -320px -80px;

	&.loading {
		position: relative;
		z-index: -1;
		background: none;
	}

	.counter-item & {
		margin: -5px 0 0 10px;
	}
}

.btn-close {
	position: absolute;
	top: -7px;
	right: -7px;
	width: 18px;
	height: 18px;
	@include hide-text;
	background: url($sprite-path) no-repeat -348px -102px;
}

.btn-change,
.btn-enter {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	font-weight: 600;
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background: $base-decor-color-3;
}

.btn-change {
	min-width: 112px;
}

.btn-save {
	display: block;
	margin: 0 0 10px;
	padding: 9px 10px;
	box-sizing: border-box;
	width: 100%;
	border-radius: 3px;
	font: 500 15px/18px $add-font-family;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background: $base-decor-color;
}

.btn-add {
	display: block;
	margin: 0 0 18px;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border: 1px solid $base-decor-color-3;
	border-radius: 3px;
	font: 500 15px/18px $add-font-family;
	text-transform: uppercase;
	text-align: center;
	color: $base-decor-color;
	background: #fff;
}

.btn-small-apply {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	border: 0;
	padding: 0 11px;
	font-weight: 700;
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	background: $base-decor-color-3;
}

.checkbox-btn {

	input[type="checkbox"],
	input[type="radio"] {
		position: absolute;
		left: -9999px;
	}

	&__btn {
		input[type="checkbox"]:checked + &,
		input[type="radio"]:checked + & {
			background: #000;
		}
	}
}

.order-btn-row {
	padding: 0 0 14px;
	text-align: center;

	&_load {
		padding: 0 0 20px;
	}
}

.btn-order {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 5px 8px;
	border: 1px solid darken($base-decor-color-2, 4%);
	border-radius: 1px;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background: $base-decor-color-2;

	&_cancel {
		border-color: $base-decor-color-2;
		color: $base-text-color-2;
		background: $base-background-color-6;
	}

	& + & {
		margin-top: 18px;
	}

	.order-btn-row & {
		width: 80%;

		@include mq($from: mobile-wide) {
			width: 65%;
		}
	}

	@include mq($from: mobile-wide) {
		font-size: 14px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.btn-load {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 14px 10px 12px;
	border: 1px solid $base-decor-color-2;
	box-shadow: 0 2px 2px rgba(#000, 0.1);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: $base-text-color-2;
	background: #fff;

	.order-btn-row & {
		width: 80%;
	}
}

.btn-track {
	display: inline-block;
	vertical-align: top;
	padding: 12px 10px 11px;
	border: 1px solid darken($base-decor-color-8, 20%);
	border-radius: 5px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: $base-text-color-2;
	background: $base-decor-color-8;
}