/* captcha unit */
.captcha-unit {
	padding: 0 0 4px;

	&__visual {
		text-align: center;
	}

	&__image {
		display: inline-block;
		vertical-align: middle;
	}

	&__reset {
		display: inline-block;
		vertical-align: middle;
		width: 20px;
		height: 20px;
		margin: 0 0 0 8px;
		background: url($sprite-path) no-repeat -624px 0;
		text-align: left;
		@include hide-text;
	}
}