/* cart-block */
.cart-block {
	margin: 0 0 21px;
	padding: 0 0 11px;
	border-bottom: 1px solid #d7d4d4;
	font: 300 11px/14px $add-font-family;
	color: $base-text-color-2;

	&_fill {
		margin-bottom: 5px;
		border-bottom: 0;
	}

	&__btn-row {
		margin: 0 0 18px;
		text-align: center;
	}
}
