/* card listing */
.card-listing {
	margin: 0 -9px 10px 17px;
	padding: 0;
	border-top: 1px dotted $base-border-color-5;
	color: $text-color-2;

	.check-tabs__text-block + & {
		margin-top: -9px;
	}

	&__item {
		list-style: none outside;
		padding: 12px 9px 1px 9px;
		border-bottom: 1px dotted $base-border-color-5;
	}

	&__label {
		margin: 0 0 5px;
		font: 500 12px/21px $add-font-family;
		text-transform: uppercase;

		.label-row {
			display: block;
		}

		&:before {
			top: 3px;
		}
	}

	&__slide {
		padding-left: 27px;
	}
}