/* cart alert */
.cart-alert {
	margin: 0 4px 20px;
	padding: 30px 0 0;
	font: 300 14px/18px $add-font-family;
	color: $text-color-6;

	.cart-heading + & {
		margin-top: -17px;
	}

	&__text {
		padding: 0 10px 10px;
		text-align: center;
	}

	&__title {
		margin: 0 0 17px;
		font-weight: 300;
		font-size: 18px;
		line-height: 24px;
		color: #000;
	}

	p {
		margin: 0 0 14px;
	}

	&__buttons {
		padding: 30px 20px 27px;
		text-align: center;
		border-top: 1px solid #c8c8c8;
	}

	&__link {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 13px;
		font-weight: 500;
	}

	.btn-product {
		font-size: 14px;
		line-height: 16px;
	}
}
