/* cart-text */
.cart-text {
	margin: 0 0 13px;
	text-align: center;

	&__title {
		display: block;
		margin: 0;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		color: $base-decor-color-6;
	}

	p {
		margin: 0;
	}
}
