/* cart heading */
.cart-heading {
	position: relative;
	min-height: 18px;
	margin: 8px -5px 16px;
	padding: 7px 35px 5px;
	border: 1px solid #cbcbcb;
	border-width: 1px 0;
	box-shadow: 0 2px 3px rgba(#b9b9b9, 0.75);
	background: #fff;

	&__title {
		margin: 0;
		font: 700 13px/16px $add-font-family;
		color: $base-text-color-2;
		text-align: center;
	}

	.back-link {
		position: absolute;
		margin: 0;
		top: 5px;
		left: 11px;
	}
}
