/* cart info box */
.cart-info-box {
	padding: 0;

	.details-unit {

		&__heading {
			padding: 17px 10px;
		}

		&__opener {
			position: relative;
			margin-top: 2px;
			padding-left: 10px;
			border-bottom: 0;

			&:before {
				content: '';
				position: absolute;
				top: -5px;
				bottom: -5px;
				left: 0;
				width: 1px;
				background: $base-decor-color-10;
			}
		}
	}

	.details-unit {
		border: 0;
		margin: 0;

		&__slide {
			overflow: visible;
		}

		&__content {
			padding: 0;
		}
	}

	.order-box {
		position: relative;
		border: 0;
		box-shadow: none;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -10px;
			right: -10px;
			height: 4px;
			background: $base-background-color-2;
		}

		&:first-child {

			&:before {
				display: none;
			}
		}

		&__heading {
			padding: 0 20px 10px 10px;
			border: 0;

			.price-box {
				font-weight: 500;
				font-size: 15px;
				line-height: 18px;
				color: $base-decor-color-6;
			}
		}

		&__title {
			font-weight: 500;
			font-size: 15px;
			line-height: 18px;
			color: $text-color-2;
		}
	}

	.order-info-holder {
		padding: 0 25px 4px 20px;
	}

	.order-info {

		&__item {

			&_note {
				color: $base-decor-color-6;
			}
		}
	}

	.date-item {
		margin: 0;
		font-style: normal;
	}

	.order-item {

		&__content {
			padding: 14px 10px 6px;
		}
	}

	.order-control {

		.btn-trash {
			float: right;
			margin: 0 0 2px 10px;
			width: 17px;
			height: 22px;
			background-position: -370px -124px;
		}

		.loader {
			right: 0;
		}
	}

	.counter-item {

		&__btn {
			width: 20px;
			height: 20px;
			border: 0;
			background: $base-decor-color-2;

			&:before,
			&:after {
				background: #fff;
			}

			&:before {
				width: 8px;
				height: 2px;
			}

			&:after {
				width: 2px;
				height: 8px;
			}
		}
	}
}

.order-heading {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	overflow: hidden;
}

.order-title {
	float: left;
	margin: 0 3px 0 0;
	color: $base-text-color-2;
}

.order-price-info {
	overflow: hidden;

	.price {
		color: $base-decor-color-6;
	}
}
