/* cards type */
.cards-type {
	margin: 0;
	padding: 0;
	text-align: right;

	&__item {
		list-style: none outside;
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 6px;
	}

	img {
		vertical-align: top;
	}
}