/* category item */
.category-section {
	padding: 12px 7px 0;
}

.category-item {
	padding: 0 0 22px;

	&__title {
		margin: 0 0 4px;
		padding: 0 0 4px 5px;
		border-bottom: 2px solid $base-decor-color;
		font: 700 15px/18px $add-font-family;
		text-transform: uppercase;
		color: $base-decor-color-2;
	}

	.button {
		margin: 0 0 8px;
	}
}
