/* category list */
.category-list {
	$self: '.category-list';

	margin: 0 0 8px;
	padding: 0;

	&__item {
		list-style: none outside;
		position: relative;
		border-bottom: 1px solid $base-border-color-2;
	}

	&__link {
		display: table;
		width: 100%;
		height: 52px;

		&:active {
			text-decoration: none;
		}

		&:after {
			content: '>';
			position: absolute;
			top: 50%;
			right: 5px;
			margin: -6px 0 0;
			font: 700 10px/12px $add-font-family;
			color: #000;

			@include mq($from: mobile) {
				right: 18px;
			}
		}
	}

	&__image {
		display: table-cell;
		width: 60px;
		padding: 5px 15px 0 0;
		vertical-align: middle;

		@include mq($from: mobile) {
			width: 100px;
			padding: 5px 13px;
		}

		&_size_full {
			padding-left: 0 !important;
			width: auto !important;
			text-align: center;

			@include mq($from: mobile) {
				padding-right: 58px;
			}
		}

		img {
			vertical-align: top;
			max-width: 60px;

			@include mq($from: mobile) {
				max-width: 100%;
			}
		}
	}

	&__text {
		display: table-cell;
		vertical-align: middle;
		padding: 10px 15px 5px 0;
		font: 500 10px/14px $add-font-family;
		color: $base-text-color-2;

		@include mq($from: mobile) {
			padding-top: 5px;
			padding-right: 30px;
			font-size: 12px;
			line-height: 14px;
		}

		p {
			margin: 0;
		}

		sup {
			font-size: 60%;
		}
	}

	&__ttl {
		display: block;
		font: inherit;
		text-transform: uppercase;

		img {
			position: relative;
			top: 3px;
		}
	}

	&_type_style {

		@include mq($from: mobile) {

			#{$self}__image {
				width: 122px;
				padding-left:13px;
				padding-right:13px;
			}
		}
	}

	&_type_offer {

		@include mq($from: mobile) {

			#{$self}__text {
				font-size: 11px;
				line-height: 13px;
			}
		}
	}

	&_type_face {

		@include mq($from: mobile) {

			#{$self}__image {
				width: 65px;
				padding-left: 0;
				padding-right: 0;
				text-align: center;
			}

			#{$self}__text {
				padding-right: 60px;
				text-align: center;
			}
		}
	}

	&_type_new {

		@include mq($from: mobile) {

			#{$self}__image {
				width: 113px;
				padding-left: 0;
			}
		}
	}

	&_type_shape {

		@include mq($from: mobile) {

			#{$self}__image {
				width: 115px;
				padding-left: 7px;
			}
		}
	}

	&_type_size {

		@include mq($from: mobile) {

			#{$self}__image {
				width: 120px;
				padding-left: 8px;
			}
		}
	}

	&_type_brands {

		@include mq($from: mobile) {

			#{$self}__image {
				width: 124px;
				padding-left: 0;
			}
		}
	}

	&_type_collection {

		@include mq($from: mobile) {

			#{$self}__image {
				width: 109px;
			}
		}
	}

	&_type_services {

		@include mq($from: mobile) {

			#{$self}__image {
				width: 90px;
			}
		}
	}
}
