/* category menu */
.category-menu {
	padding: 0 8px;
}
.category-unit {
	padding: 0 0 28px;
	font: 500 16px/20px $add-font-family;

	&__title {
		display: block;
		margin: 0 0 4px;
		padding: 0 0 4px 2px;
		font: inherit;
		font-weight: 700;
		text-transform: uppercase;
		color: $base-decor-color-2;
		border-bottom: 2px solid currentColor;
	}

	a {
		color: $base-text-color-2;

		&:active {
			text-decoration: none;
		}
	}

	&__list {
		margin: 0;
		padding: 0;

		li {
			list-style: none outside;
		}
	}

	&__item {
		border-bottom: 1px solid $base-border-color-2;

		&.expanded {
			border-color: transparent;
		}
	}

	&__link {
		display: block;
		position: relative;
		margin: -1px -13px;
		padding: 16px 40px 15px 15px;
		color: rgba($base-text-color-2, 0.9);

		&:active {
			border-color: transparent;
			background: lighten($COLOR-RIPTIDE-APPROX, 10%);
			background: rgba($COLOR-RIPTIDE-APPROX, 0.6);
			-webkit-tap-highlight-color: rgba(#000, 0);
		}

		&:after {
			content: '>';
			position: absolute;
			top: 50%;
			right: 15px;
			margin: -10px 0 0;
			transform: scaleX(0.5);
		}

		&_js_opener {

			&:after {
				content: '+';
				transform: scaleX(1);
			}

			.expanded & {
				background: lighten($COLOR-RIPTIDE-APPROX, 10%);
				background: rgba($COLOR-RIPTIDE-APPROX, 0.6);

				&:after {
					content: '-';
				}
			}
		}
	}

	&__content {
		position: relative;
		padding: 7px 13px 3px;
		margin: 0 -13px;
		overflow: hidden;
	}

	&__sub-list {
		margin: 0;
		padding: 0 0 9px;
		font-weight: 300;
		font-size: 13px;
		line-height: 16px;
		border-bottom: 2px solid $base-decor-color-2;

		li {
			border-bottom: 1px solid $base-border-color-2;

			&:last-child {
				border-bottom: 0;
			}
		}

		a {
			display: block;
			position: relative;
			margin: -1px -13px;
			padding: 13px 33px 12px 15px;
			color: rgba($COLOR-BLACK, 0.7);

			&:after {
				content: '>';
				position: absolute;
				top: 50%;
				right: 16px;
				margin: -7px 0 0;
				font-size: 14px;
				transform: scaleX(0.5);
			}

			&:active {
				font-weight: 500;
				color: $COLOR-BLACK;
				background: $base-background-color-5;
				-webkit-tap-highlight-color: rgba(#000, 0);
			}
		}
	}
}
