/* check unit */
.check-unit {
	padding: 3px 0 0;

	&__item {
		display: inline-block;
		vertical-align: top;
		margin: 0 7px 0 0;
	}

	input[type="radio"] {
		position: absolute;
		left: -9999px;
	}

	label {
		display: block;
		position: relative;
		padding: 0 0 0 15px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 10px;
			height: 10px;
			border: 1px solid $base-input-border-color;
			border-radius: 6px;
		}
	}

	input[type="radio"]:checked {

		& + label {

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 4px;
				margin: auto;
				width: 4px;
				height: 4px;
				border-radius: 2px;
				background: $base-input-border-color;
			}
		}
	}
}
