/* check block */
.check-block {
	margin: 0 0 13px;
	padding: 19px 0 5px;
	border: 2px dotted #b4b4b4;
	border-width: 2px 0;

	&__columns {
		@extend %clearfix;
	}

	.step-box & {
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	&__col {
		box-sizing: border-box;
		float: left;
		width: 50%;

		& + & {
			padding-left: 4px;
		}
	}

	&__title {
		display: block;
		margin: 0 0 12px;
		font-weight: 700;
		font-size: 13px;
		line-height: 16px;
	}
}
