/* sign in block */
.checkout-block {
	font-family: $add-font-family;

	&__content {
		padding: 0 9px;
	}

	p {
		margin: 0 0 12px;
	}

	.login-buttons {
		padding: 0 0 14px;
	}

	.btn-login {
		padding-left: 45px;
		padding-top: 11px;
		font: 700 17px/20px $add-font-family;
		text-transform: uppercase;

		&_fb {
			background: #3664a2;

			&:before {
				left: 32px;
				background: #305a93;
			}
		}

		&__union {
			font-weight: 100;
		}
	}
}

.checkout-heading {
	position: relative;
	min-height: 18px;
	margin: 14px -5px;
	padding: 12px 35px 10px;
	box-shadow: 0 2px 3px rgba(#b9b9b9, 0.75);
	text-align: center;
	background: #fff;

	&__title {
		margin: 0;
		font: 700 17px/20px $add-font-family;
		color: $base-text-color-2;
		text-align: center;
	}

	.back-link {
		position: absolute;
		margin: 0;
		top: 11px;
		left: 13px;
	}
}
