/* check listing */
.check-listing {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;

	&__item {
		list-style: none outside;
		padding: 0 0 17px;

		.address-listing & {
			margin: 9px 0 0;
			padding: 10px;
			border: 1px solid $base-input-border-color;
			background: $base-background-color-2;

			&:first-child {
				margin-top: 0;
			}
		}

		label {
			display: block;
			position: relative;
			padding: 0 0 0 27px;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 18px;
				height: 18px;
				border: 1px solid #b1b2b1;
				border-radius: 10px;
				box-shadow: 0 0 0 3px #fff inset;
				margin: -11px 0 0;
				background: $base-background-color-5;
			}
		}

		input[type="radio"] {
			position: absolute;
			left: -9999px;

			&:checked + label {

				&:before {
					background: $base-decor-color-2;
				}
			}
		}
	}
}

/* address-listing */
.address-listing {
	padding: 0 0 21px;

	label {
		font-weight: 500;

		&:before {
			top: 2px;
			margin: 0;
		}
	}

	input[type="radio"] {

		&:checked + label {
			font-weight: 700;
		}
	}
}