/* checkbox list */
.checkbox-list {
	margin: 0 0 13px;

	&__item {
		padding: 10px 0;
	}

	&__or {
		display: block;
		margin: -6px 0 -2px;
		font-weight: 500;
		font-size: 9px;
		line-height: 12px;
		text-transform: uppercase;
		color: $text-color-2;
	}

	&__slide {
		padding: 1px 0 20px;
	}

	.input-row {
		margin-top: 15px;
		margin-bottom: 0;
	}

	& + .input-row {
		margin-top: 18px;
	}
}