/* check choose */
.check-choose {
	margin: 0;
	padding: 0 0 11px 27px;
}

.check-choose-item {
	list-style: none outside;

	&__text-holder {
		display: table;
		height: 32px;
	}

	&__text-cell {
		display: table-cell;
		vertical-align: middle;
	}

	&__image {
		display: table-cell;
		vertical-align: middle;
		padding-left: 5px;

		img {
			vertical-align: top;
		}
	}

	&__text {
		display: inline-block;
		vertical-align: top;

		&:after {
			content: '|';
			margin: 0 0 0 4px;
		}
	}

	.fake-radio__label {

		&:before {
			top: 7px;
		}
	}
}