/* check list */
.check-list {
	$check-color: #f0f0f0;
	$check-border-color: $text-color-7;
	$check-active-color: #a2d0d0;

	padding: 0 0 10px;

	&__item {
		padding: 0 0 17px 4px;
	}

	input[type="radio"] {
		position: absolute;
		left: -9999px;
	}

	label {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 0 0 0 29px;
		font-size: 14px;
		line-height: 18px;
		color: inherit;

		&:before {
			content: '';
			position: absolute;
			top: -2px;
			left: 0;
			width: 16px;
			height: 16px;
			border: 2px solid $check-border-color;
			border-radius: 10px;
			background: $check-color;
		}
	}

	input[type="radio"]:checked  {

		& + label {
			color: $base-text-color-2;

			&:before {
				border-color: $check-active-color;
				background: $check-active-color;
			}

			&:after {
				content: '';
				position: absolute;
				top: 4px;
				left: 5px;
				width: 11px;
				height: 8px;
				background: url($sprite-path) no-repeat -102px -112px;
			}
		}
	}
}
