/* check tabs */
.check-tabs {
	margin: 0 -5px;
	padding: 3px 0 0;
	color: $text-color-2;

	&__holder {
		display: table;
		width: 100%;
		font-size: 0;
		line-height: 0;
	}

	&__single-item {
		// margin: 0 0 10px;
		font: 300 13px/18px $add-font-family;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		// margin: 0 0 10px;
		font: 300 13px/18px $add-font-family;
	}

	&__text-block {
		padding: 0 0 13px;

		& + .input-row {
			margin-top: 10px;
		}

		p {
			margin: 0 0 5px;
		}
	}

	&__note {
		padding: 0 0 13px;
		font-size: 11px;
		line-height: 16px;
		color: $text-color-7;

		p {
			margin: 0 0 5px;
		}
	}

	&__warning {
		font-weight: 500;
		color: $color-error-2;
	}
}

.check-tabs-opener {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 0 0 10px;

	.by {
		position: absolute;
		bottom: 6px;
		right: 15px;
		margin: 0;

		dt {
			float: none;
			display: inline-block;
			vertical-align: bottom;
			padding: 0 0 2px 0;
			font-weight: 300;
			font-size: 9px;
			line-height: 10px;
			text-transform: uppercase;
			color: $text-color-2;
		}

		dd {
			display: inline-block;
			vertical-align: bottom;
		}

		img {
			vertical-align: top;
		}
	}
}

.check-tabs-label {
	display: block;
	position: relative;
	margin: 0 5px;
	padding: 0;
	border: 1px solid $base-decor-color-10;
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
	color: $base-text-color-2;
	background: $base-background-color-4;

	.check-tabs__single-item & {
		padding-right: 130px;
	}

	&:before {
		top: 50%;
		left: 9px;
		margin: -10px 0 0;
	}

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: -1px;
		right: -1px;
		height: 0;
		margin-top: -1px;
		border: 1px solid $base-decor-color-10;
		border-width: 0 1px;
		transition: height 10ms 400ms;
		background: $base-background-color-4;

		input[type="radio"]:checked + & {
			height: 13px;
		}
	}

	&__holder {
		display: block;
		min-height: 29px;
		padding: 5px 5px 5px 36px;
		white-space: nowrap;

		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			min-height: 29px;
			margin: 0 -4px 0 0;
		}
	}

	&__text {
		display: inline-block;
		vertical-align: middle;
		white-space: normal;
	}

	&__note {
		display: block;
		font-size: 10px;
		line-height: 12px;
		color: $base-decor-color-6;
	}
}

.check-tabs-content {
	padding-bottom: 10px;

	.check-tabs__holder & {
		margin-right: -100%;
	}

	.input-row:first-child {
		margin-top: 17px;
	}

	.check-tabs__holder .check-tabs__item:nth-child(even) & {
		margin-left: -100%;
		margin-right: 0;
	}

	&__holder {
		margin: 0 5px;
		padding: 16px 9px 4px;
		border: 1px solid $base-decor-color-10;
		background: $base-background-color-4;

		.check-tabs__single-item & {
			padding-top: 0;
		}
	}

	a {
		color: $base-decor-color-6;
	}
}