/* choice unit */
.choice-unit {
	margin: 0 -8px 12px;
	padding: 5px 8px 2px;

	&__heading {
		position: relative;
		z-index: 1;
		margin: 0 0 13px;
		text-align: center;
	}

	&__title {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		font: 700 14px/16px $add-font-family;
		color: $base-text-color-2;
	}

	&__note {
		margin: -10px 0 4px;
		font: 500 11px/14px $add-font-family;
		color: $color-error;
		text-align: center;

		p {
			margin: 0;
		}
	}

	&_state_warning {
		background: #fcfd7e;
	}
}
