/* choice list */
.choice-list {
	margin: 0 -3px 0 -7px;
	padding: 0;
	font-size: 0;
	line-height: 0;

	li {
		list-style: none outside;
		display: inline-block;
		vertical-align: top;
		width: 49.5%;
		padding: 0 0 8px;
		font: 500 11px/11px $add-font-family;
		color: $base-text-color-2;
	}

	&__label {
		display: block;
		position: relative;
		margin: 0 0 0 7px;
		padding: 0 7px 0 24px;
		border: 1px solid #c4c4c4;
		white-space: nowrap;

		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 24px;
		}

		&:before {
			content: '';
			position: absolute;
			left: 6px;
			top: 0;
			bottom: 2px;
			margin: auto;
			width: 15px;
			height: 15px;
			background: url($sprite-path) no-repeat -80px -124px;

			input:checked + & {
				background-position: -98px -124px;
			}
		}
	}

	&__label-text {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		white-space: normal;
		@include word-wrap;
	}

	input[type="radio"] {
		position: absolute;
		left: -9999px;
	}
}
