/* chosen panel */
.chosen-panel {
	padding: 9px 5px 3px 14px;
	background: $base-background-color-3;

	&__title {
		margin: 0;
		padding: 0 0 2px;
		font: 500 14px/18px $add-font-family;
		color: text-color-4;

		.qty {
			color: text-color-5;
		}
	}
}

.chosen-filters {
	margin-right: -7px;
}
