/* code unit */
.code-unit {
	margin: -18px 0 0;
	text-align: center;

	&__number {
		display: block;
		margin: 0 0 11px;
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		color: #000;
	}

	&__resend-link {
		display: inline-block;
		vertical-align: top;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
	}
}
