/* color choice */
.color-choice {
	margin: -2px 0 0;
	padding: 0 7px 10px;

	&__mask {
		position: relative;
		margin: 0 18px;
		overflow: hidden;
	}

	&__slideset {
		width: 100% !important;
		font-size: 0;
		white-space: nowrap;
	}

	&__slide {
		display: inline-block;
		vertical-align: top;
		width: 33.333% !important;
		text-align: center;
		font-size: 12px;
		white-space: normal;

		img {
			vertical-align: top;
		}
	}

	&__nav {
		position: relative;
		z-index: 1;
		margin: -3px 0 0;
		@extend %clearfix;

		.btn-prev {
			float: left;
		}

		.btn-next {
			float: right;
		}
	}

	&__note {
		margin: -8px 0 0;
		font: 500 10px/12px $add-font-family;
		text-align: center;
		color: $text-color-6;

		p {
			margin: 0;
		}
	}
}
