/* color box */
.color-box {
	display: block;
	margin: 0 auto 11px;
	width: 37px;
	height: 34px;
	border: 1px solid #d0d0d0;
	font-size: 0;
	line-height: 0;

	&__half {
		display: block;
		height: 50%;
	}
}
