.contact-info {

	&__title {
		margin: 0 0 8px;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		color: inherit;
	}
}
.contact-list {
	font-size: 12px;
	line-height: 16px;
	text-align: center;

	&__item {
		position: relative;
		margin: 0 0 10px;
		text-align: center;

		@include mq($from: mobile) {
			display: inline-block;
			vertical-align: middle;
			width: 49%;
			margin: 0;
			padding: 2px 0 0;

			& + & {
				border: 1px solid #cecece;
				border-width: 0 0 0 1px;
			}
		}
	}

	&__ttl {
		float: none;
		display: inline-block;
		vertical-align: top;
		min-height: 17px;
		margin: 0 0 3px;
		padding: 0;

		&_type_email {
			top: 3px
		}
	}

	&__ttl-text {
		position: absolute;
		top: -9999px;
		left: -999px;
		font-size: 0;
		line-height: 0;
		@include hide-text;
	}

	a {
		color: inherit;

		&:active {
			text-decoration: none;
		}
	}

	[class^="ico-"] {
		display: block;
		width: 15px;
		height: 11px;
		@include hide-text;
		background: url($sprite-path) no-repeat -80px 0;
	}

	.ico-email {
		background-position: -80px 0;
	}

	.ico-phone {
		width: 13px;
		height: 17px;
		@include hide-text;
		background: url($sprite-path) no-repeat -104px 0;
	}
}
