/* counter item */
.counter-item {
	display: inline-block;
	vertical-align: middle;

	form {
		margin: 0;
	}

	&__btn {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 18px;
		height: 18px;
		border: 1px solid #5c5c5c;
		border-radius: 10px;
		@include hide-text;
		background: none;
		outline: none;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 8px;
			height: 2px;
			text-indent: 0;
			background: #519b92;
		}

		&:after {
			width: 2px;
			height: 8px;
		}
	}

	&__decrease {

		&:after {
			display: none;
		}
	}

	// &__increase {

	// 	&:before {
	// 		width: 7px;
	// 		height: 1px;
	// 	}

	// 	&:after {
	// 		width: 1px;
	// 		height: 7px;
	// 	}
	// }

	&__field[type] {
		display: inline-block;
		vertical-align: middle;
		width: 22px;
		height: 16px;
		margin: 0 4px 0 2px;
		padding: 2px 3px;
		border: 1px solid $base-border-color-3;
		font: 300 14px/16px $add-font-family;
		text-align: center;
		color: $text-color-2;
		background: #fff;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			display: none;
			-webkit-appearance: none;
		}
	}
}
