/* details table */
.details-table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 5px;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	color: $text-color-7;

	thead {

		th {
			padding: 3px 3px 9px;
			border: 0;
			text-align: center;
			text-transform: uppercase;
			color: $base-text-color-2;
		}
	}

	tbody {

		& td,
		& th {
			border-style: solid;
			border-color: #cac8c8;
		}

		th {
			vertical-align: middle;
			padding: 8px 10px 7px 0;
			border-width: 1px 0 0;
			text-align: left;
			font-size: 14px;
			line-height: 16px;
			color: $base-decor-color-3;
		}

		td {
			vertical-align: middle;
			padding: 5px 3px 2px 15px;
			border-width: 1px 0 0;
			box-shadow: -8px 0 0 -7px #cac8c8;
		}
	}

	&__select {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: -2px 0 0;
		border: 1px solid #b1b2b1;
		border-radius: 4px;
		overflow: hidden;
		background: #f5f0f0;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 6px;
			margin: auto;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 6px 4px 0;
			border-color: $base-text-color-2 transparent;
		}

		select {
			display: block;
			box-sizing: border-box;
			position: relative;
			min-width: 44px;
			height: 21px;
			padding: 4px 20px 5px 3px;
			border: 0;
			font: 500 10px/12px $add-font-family;
			color: $text-color-7;
			outline: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: none;
		}

		select::-ms-expand {display: none;}
	}
}
