/* details section */
.details-section {
	margin: 0 0 26px;
	padding: 0 0 2px;
	border-bottom: 1px solid #d8d7d7;
}

.details-item {

	&__heading {
		position: relative;
		border-top: 2px solid #d8d7d7;

		&:before {
			content: '';
			position: absolute;
			top:-6px;
			left: 0;
			width: 113px;
			height: 6px;
			background: #92afac;
		}
	}

	&__link {
		display: block;
		padding: 12px 6px 8px 4px;
		color: $base-decor-color-3;
		@extend %clearfix;

		&:active {
			text-decoration: none;
		}
	}

	&__decor-link {
		float: right;
		min-height: 14px;
		position: relative;
		margin: -2px 0 2px 10px;
		padding: 0 13px 0 0;
		font: 500 12px/14px $add-font-family;
		text-decoration: underline;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			width: 0;
			height: 0;
			margin: -3px 0 0;
			font-size: 0;
			line-height: 0;
			border-style: solid;
			border-width: 4px 0 4px 6px;
			border-color: transparent $base-decor-color-3;

			.expanded & {
				margin: -1px 0 0;
				border-width: 6px 4px 0;
				border-color: $base-decor-color-3 transparent;
			}
		}
	}

	&__title {
		margin: 0;
		font: 500 12px/14px $add-font-family;
		text-transform: uppercase;
	}
}
