/* detail table */
.detail-table {
	width: 100%;
	margin: 0 0 13px;
	font: 500 12px/14px $add-font-family;
	color: $base-text-color-2;

	th,
	td {
		padding: 5px 5px 6px 12px;
		border: 1px solid #dbdada;
	}

	th {
		width: 52%;
		font-weight: inherit;
		text-align: left;
	}

	td {
		width: auto;
		padding-left: 9px;
	}

	a {
		font-size: 11px;
	}
}
