/* details unit */
.details-list {

	.input-row + & {
		margin-top: -13px;
	}
}

.details-unit {

	.details-list & {
		margin-bottom: 0 !important;
		border-top: 2px dotted #b4b4b4;

		&:first-child {
			border-top: 0;
		}
	}

	.input-row + &,
	.check-block + & {
		margin-top: -8px;
	}

	&__heading {
		padding: 10px 14px;
		font: 300 9px/12px $add-font-family;
		color: $text-color-7;
		@extend %clearfix;

		p {
			margin: 0 !important;
		}

		.details-list & {
			padding: 18px 10px 17px;
		}
	}

	&__opener {
		float: right;
		border-bottom: 1px solid $base-decor-color-4;
		font-weight: 500;
		font-size: 12px;
		line-height: 14px;
		color: $base-decor-color-4;

		.details-unit__heading-text & {
			float: none;
			display: inline-block;
			vertical-align: top;
			margin: 0 0 1px;
		}

		&:active {
			text-decoration: none;
		}

		&:after {
			content: '+';
			margin: 0 0 0 4px;

			.details-unit_expanded & {
				content: '-';
			}
		}
	}

	&__heading-text {
		float: right;
	}

	&__slide {
		position: relative;
		overflow: hidden;
	}

	&__content {
		padding: 0 16px 10px 14px;
	}

	&__note {
		font-size: 11px;
		line-height: 16px;

		p:last-child {
			margin: 0;
		}
	}

	&__check {
		float: right;
		padding: 5px 0;

		input[type="checkbox"] {
			position: absolute;
			left: -9999px;
		}
	}
}
