/* detail mini */
.detail-mini {
	text-align: center;

	&__item {
		display: inline-block;
		vertical-align: top;
		margin: 0;
		padding: 0 0 12px;
		font: 500 12px/14px $add-font-family;
		color: $base-text-color-2;

		&:after {
			content: '|';
			margin: 0 5px 0 7px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		a {
			text-decoration: underline;
			color: $base-decor-color-6;

			&:active {
				text-decoration: none;
			}
		}
	}

	&__term {
		display: inline-block;
		vertical-align: top;
		float: none;
		padding: 0;
		font-weight: inherit;
		color: $text-color-6;
	}

	&__descr {
		display: inline-block;
		vertical-align: top;
	}
}
