/* edit list */
.edit-list {
	padding: 6px 0 1px;
	text-transform: none;
	text-align: right;
	font-weight: 700;
	font-size: 9px;
	line-height: 12px;

	&__item {
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 0 0 0 13px;
		color: $base-decor-color-4;

		&_del {
			color: #dc000f;

			&:after {
				content: '×';
				margin: 0 0 0 2px;
			}
		}
	}
}