/* enter section */
.enter-section {
	margin: 0 0 26px;
	@extend %clearfix;
}

.enter-item {
	float: left;
	position: relative;
	box-sizing: border-box;
	width: 50%;
	padding-left: 8px;
	overflow: hidden;

	&:first-child {
		padding-left: 0;
		padding-right: 8px;
	}

	&__check {
		position: absolute;
		left: -9999px;
	}

	input[type="file"] {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		opacity: 0;
		font-size: 200px;
		direction: ltr;
		cursor: pointer;
	}
}

.enter-unit {
	display: block;
	position: relative;
	min-height: 36px;
	padding: 66px 8px 7px;
	border: 1px solid #b8b8b8;
	border-radius: 3px;
	font: 500 10px/12px $add-font-family;
	text-align: center;
	color: $base-decor-color;
	background: #fff;

	input[type="radio"]:checked + &,
	&_state_active {
		color: #fff;
		background: #2b9a97;
	}

	&_upload {

		&:before {
			content: '';
			position: absolute;
			top: 21px;
			left: 0;
			right: 0;
			margin: auto;
			width: 43px;
			height: 31px;
			background: url($sprite-path) no-repeat -390px 0;

			input[type="radio"]:checked + & {
				background-position: -390px -34px;
			}
		}

		&.enter-unit_state_active {

			&:before {
				background-position: -390px -34px;
			}
		}
	}

	&_manually {

		&:before {
			content: '';
			position: absolute;
			top: 13px;
			left: 0;
			right: 0;
			margin: auto;
			width: 44px;
			height: 42px;
			background: url($sprite-path) no-repeat -390px -68px;

			input[type="radio"]:checked + & {
				background-position: -390px -114px;
			}
		}

		&.enter-unit_state_active {

			&:before {
				background-position: -390px -114px;
			}
		}
	}

	// &_state_active {
	// 	color: #fff;
	// 	background: $base-decor-color;
	// }
}
