/* enter buttons */
.enter-buttons {
	margin: 0 -5px 13px;
	text-align: center;
	white-space: nowrap;

	&__item {
		display: inline-block;
		vertical-align: top;
		box-sizing: border-box;
		width: 50%;
		margin: 0 -4px 0 0;
		padding: 0 5px;
		white-space: normal;
	}

	.btn-enter {
		display: block;
	}
}
