/* error tape */
.error-tape {
	position: absolute;
	z-index: 10;
	top: 0;
	left: -5px;
	right: -5px;
	padding: 9px 15px;
	border-style: solid;
	border-width: 1px 0;
	border-color: #8c8b75 #8c8b75 #abaa9a;
	font: italic 12px/14px 'Georgia', 'Times New Roman', 'Times', serif;
	text-align: center;
	text-transform: capitalize;
	color: $color-error;
	background: $color-warning;

	p {
		margin: 0;
	}
}
