.explain-item {
	margin: 0 0 40px;
	padding: 0 10px 10px 10px;
	border: 1px solid $base-border-color-4;
	border-width: 1px 0;
	background: #fff;

	@include mq($from: mobile) {
		padding: 0 20px 20px 30px;
	}

	&:last-child {
		margin-bottom: 17px;
	}

	&__title-box {
		position: relative;
		margin: -13px 0 15px;
		text-align: center;

		@include mq($from: mobile) {
			margin-bottom: 38px;
		}
	}

	&__title {
		display: inline-block;
		vertical-align: top;
		position: relative;
		min-width: 116px;
		border-bottom: 1px solid #c8c8c8;
		margin: 0;
		padding: 7px 10px 11px;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #fff;
		background-color: #58b23c;
		background-image: linear-gradient(to bottom, #56bc37 0%,#5aa543 100%);

		&:before,
		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: -1px;
			left: -11px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width:13px 11px 0 0;
			border-color: transparent #3b7b27;
		}

		&:after {
			left: auto;
			right: -11px;
			border-width: 13px 0 0 11px;
		}

		&_blue {
			background-color: #248488;
			background-image: linear-gradient(to bottom, #2c928e 0%,#197180 100%);

			&:before,
			&:after {
				border-color: transparent #08525e;
			}
		}
	}

	&__list {
		margin: 0 0 10px;
		padding: 0;
		font-size: 15px;
		line-height: 18px;
		color: $COLOR-BLACK;

		li {
			list-style: none outside;
			position: relative;
			padding: 0 0 12px 30px;

			&:before {
				content: '';
				position: absolute;
				top: 3px;
				left: 0;
				width: 17px;
				height: 12px;
				background: url($sprite-path) no-repeat -200px 0;
			}
		}

		&_type_x {

			li {

				&:before {
					width: 14px;
					height: 13px;
					background-position: -224px 0;
				}
			}
		}
	}
}
