/* explain block */
.explain-block {
	margin: 0 -6px 29px;

	&__title {
		margin: 0 6px 19px;
		font: bold italic 16px/20px 'Georgia', 'Times', 'Times New Roman', serif;
		text-align: center;
		color: #010101;

		@include mq($from: mobile) {
			font-size: 21px;
			line-height: 24px;
		}
	}

	&__holder {
		padding: 22px 0 1px;
		border: 1px solid $base-border-color-4;
		border-width: 1px 0;
		background: #fffae6;
	}
}
