/* extra nav */
.extra-nav {
	margin: 0 0 16px;

	ul {
		margin: 0;
		padding: 0;
		border: 1px solid $base-border-color-4;
		font-size: 14px;
		line-height: 18px;

		@include mq($from: mobile) {
			font-size: 16px;
			line-height: 20px;
		}

		li {
			list-style: none outside;
		}

		li + li {
			border-top: 1px solid $base-border-color-4;
		}

		a {
			display: block;
			padding: 10px 9px 13px;
			color: $base-text-color;

			&:active {
				text-decoration: none;
			}
		}
	}
}
