/* fake checkbox */
.fake-checkbox {
	position: relative;

	label {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 0 0 0 27px;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: $base-decor-color-4;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 18px;
			height: 18px;
			border: 1px solid #b1b2b1;
			box-shadow: 0 0 0 3px #fff inset;
			margin: -3px 0 0;
			background: $base-background-color-5;
		}
	}

	input[type="checkbox"] {
		position: absolute;
		left: -9999px;

		&:checked {

			& + label {

				&:before {
					box-shadow: none;
					background: $base-decor-color-2 url($sprite-path) no-repeat -574px -128px;
				}
			}
		}
	}
}