/* fake check */
.fake-check {
	input[type="checkbox"] {
		position: absolute;
		left: -9999px;

		&:checked + label {

			&:after {
				content: '';
				position: absolute;
				left: 4px;
				top: 50%;
				width: 12px;
				height: 8px;
				margin: -4px 0 0;
				background: url($sprite-path) no-repeat -102px -102px;
			}
		}
	}

	label {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 0 0 0 30px;
		font: 700 10px/12px $add-font-family;
		text-transform: uppercase;
		color: $base-text-color-2;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			width: 20px;
			height: 18px;
			margin: -10px 0 0;
			border: 1px solid #a2a2a2;
			background: #fff;
		}
	}
}
