/* fake radio */
.fake-radio {
	position: relative;

	&__label {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 0 0 0 27px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 18px;
			height: 18px;
			border: 1px solid #b1b2b1;
			border-radius: 10px;
			box-shadow: 0 0 0 3px #fff inset;
			margin-top: -2px;
			background: $base-background-color-5;
		}
	}

	input[type="radio"] {
		position: absolute;
		left: -9999px;

		&:checked + label {

			&:before {
				background: $base-decor-color-2;
			}
		}
	}
}