/* features unit */
.features-unit {
	padding: 0 0 20px;
}

.features-list {
	margin: 0;
	padding: 0 0 9px;
	font: 300 12px/14px $add-font-family;

	&__item {
		list-style: none outside;
		position: relative;
		padding: 0 0 12px 20px;

		&:before {
			content: '';
			position: absolute;
			top: 1px;
			left: 0;
			width: 16px;
			height: 16px;
			background: url($sprite-path) no-repeat -260px -40px;
		}
	}
}
