/* feature heading */
.feature-heading {
	padding: 0 0 9px;
	@extend %clearfix;

	&__image {
		float: left;
		width: 114px;
		margin-right: 12px;

		img {
			vertical-align: top;
			max-width: 100%;
			height: auto;
		}
	}

	&__title-holder {
		padding-top: 9px;
		overflow: hidden;
	}

	&__title {
		display: block;
		font-weight: 500;
		font-size: 10px;
		line-height: 12px;
		text-transform: uppercase;
		color: $text-color-7;
	}
}