.filter-tag {
	display: inline-block;
	vertical-align: top;
	margin: 3px 0 7px;
	font: 500 10px/12px $add-font-family;
	color: $base-text-color-2;
	overflow: hidden;

	@include mq($from: mobile) {
		max-width: 50%;
	}

	&__holder {
		// min-height: 28px;
		position: relative;
		display: block;
		margin: 0 7px 0 0;
		padding: 0 20px 0 7px;
		border: 1px solid #7f8182;
		background: #fff;
	}

	// &:before {
	// 	content: '';
	// 	display: inline-block;
	// 	vertical-align: middle;
	// 	height: 28px;
	// 	margin: 0 0 0 -4px;
	// }

	.filter-text {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 28px;
		white-space: normal;
	}

	.price-start,
	.price-end {
		display: block;
		white-space: nowrap;
	}

	.close {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 3px;
		margin: auto;
		width: 12px;
		height: 12px;
		@include hide-text;
		background: #f2f8ab;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 6px;
			height: 6px;
			text-indent: 0;
			background: url($sprite-path) no-repeat -58px -40px;
		}
	}
}
