/* filters list */
.filters-list {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	margin: 0 0 8px;
	padding: 0;
	font: 500 9px/14px $add-font-family;
	background: #e3dddd;

	@include mq($from: mobile) {
		font-size: 12px;
		line-height: 14px;
	}

	li {
		list-style: none outside;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		border: 1px solid #9b9999;
		border-color: #9b9999 #a2a1a1;

		&:first-child {
			border-left-width: 1px;
		}
	}

	a {
		display: block;
		padding: 4px 3px;
		color: #01514d;

		@include mq($from: mobile) {
			padding: 4px 5px;
		}
	}
}
