/* filter tabs */
.filter-tabs {
	padding: 0 3px 0 0;
	@extend %clearfix;

	@include mq($from: mobile) {
		padding: 0 8px 0 0;
	}
}

.filter-tabset {
	float: left;
	width: 90px;
	margin: 0 6px 0 0;
	padding: 0;
	font: 500 10px/12px $add-font-family;

	@include mq($from: mobile) {
		width: 115px;
		font-size: 13px;
		line-height: 12px;
	}

	&__item {
		list-style: none outside;
		position: relative;
		border-top: 1px solid #f8f7f7;
		@include word-wrap;
		background: #e3e1e1;

		&:first-child {
			border-top: 0;

			a {
				border-top: 0;
			}
		}
	}

	&__link {
		display: block;
		padding: 7px 15px 5px 5px;
		border-top: 1px solid #c9c7c7;
		color: $base-text-color-2;
		white-space: nowrap;

		@include mq($from: mobile) {
			padding: 7px 20px 5px 14px;
		}

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 29px;
		}

		&:active {
			text-decoration: none;
		}
	}

	&__text {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		white-space: normal;
	}

	&__item {

		&_state_active {

			a {
				color: $base-decor-color-5;

				&:after {
					content: '>';
					position: absolute;
					top: 50%;
					right: 3px;
					margin: -12px 0 0;
					font-size: 21px;
					line-height: 24px;
					transform: scaleX(0.5);

					@include mq($from: mobile) {
						right: 9px;
					}
				}
			}
		}
	}
}

.filter-items-qty {
	display: none;
	font-style: normal;
	white-space: nowrap;

	&_state_enabled {
		display: inline;
	}

	&:before {
		content: '\0000a0(';
	}

	&:after {
		content: ')';
	}
}

.filter-tab-content {
	overflow: hidden;
}

.filter-values-list {
	margin: 0;
	padding: 0;
	font: 500 10px/14px $add-font-family;
	color: $base-text-color-2;

	@include mq($from: mobile) {
		font-size: 12px;
		line-height: 14px;
	}

	li {
		list-style: none outside;
		position: relative;
		border-top: 1px solid #fbfbfb;
		@include word-wrap;

		&:first-child {
			border-top: 0;

			.filter-label {
				border-top: 0;
			}
		}
	}

	.filter-label {
		display: block;
		padding: 5px 22px 5px 5px;
		border-top: 1px solid #cbc9c9;
		overflow: hidden;
		white-space: nowrap;

		@include mq($from: mobile) {
			padding: 5px 30px 5px 15px;
		}

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 31px;
		}

		&__wrap {
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			white-space: normal;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			width: 18px;
			height: 16px;
			background: url($sprite-path) no-repeat -80px -80px;

			@include mq($from: mobile) {
				right: 6px;
			}
		}

		&.disabled {
			color: $text-color-5;

			&:after {
				opacity: 0.4;
			}
		}
	}

	.filter-value {
		position: absolute;
		left: -9999px;

		&:checked + .filter-label {

			&:after {
				background-position: -100px -80px;
			}
		}
	}

	.filter-qty {
		color: $text-color-5;
	}
}
