/* filters block */
.filters-block {
	margin: 0 -5px;

	form {
		margin: 0;
	}

	&__control {
		position: relative;
		padding: 7px 5px 6px;
		box-shadow: 0 2px 2px rgba(#000, 0.2);
		@extend %clearfix;
		background: #fff;

		@include mq($from: mobile) {
			padding: 7px 7px 6px 16px;
		}

		.back-link {
			float: left;
			margin: 11px 0 5px;
		}
	}

	&__buttons {
		float: right;
	}

	.loader-box {
		float: left;
	}

	.btn-filter {
		float: left;
		margin: 0 0 0 6px;
	}
}

.btn-filter {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0;
	padding: 7px 6px 6px;
	border: 1px solid $base-decor-color-5;
	font: 500 10px/18px $add-font-family;
	text-align: center;
	text-transform: uppercase;
	color: $base-decor-color-5;
	background: #fff;

	@include mq($from: mobile) {
		min-width: 86px;
		font-size: 14px;
		line-height: 18px;
	}

	&_type_reset {
		padding-left: 20px;
		text-align: left;

		@include mq($from: mobile) {
			padding-left: 27px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 2px;
			left: 3px;
			margin: auto;
			width: 15px;
			height: 16px;
			background: url($sprite-path) no-repeat -40px -98px;

			@include mq($from: mobile) {
				left: 8px;
			}
		}
	}

	&_type_apply {
		padding-left: 22px;
		text-align: left;
		color: #fff;
		background: $base-decor-color-5;

		@include mq($from: mobile) {
			padding-left: 32px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 3px;
			margin: auto;
			width: 15px;
			height: 15px;
			background: url($sprite-path) no-repeat -60px -98px;

			@include mq($from: mobile) {
				left: 12px;
			}
		}
	}
}
