.footer-nav {
	display: table;
	width: 100%;
	height: 48px;
	margin: 0;
	padding: 0;
	border-top: 1px solid #777;
	font-size: 12px;
	line-height: 16px;

	@include mq($from: mobile) {
		font-size: 14px;
		line-height: 18px;
	}

	@include mq($from: mobile-wide) {
		font-size: 16px;
		line-height: 20px;
	}

	&__item {
		list-style: none outside;
		display: table-cell;
		vertical-align: middle;
		padding: 5px;
		border-left: 1px solid #777;
		text-align: center;

		&:first-child {
			border-left: 0;
		}

		@include mq($from: mobile) {
			padding: 5px 10px;
		}

		&_type_home {
			width: 38px;
			padding-left: 0;
			padding-right: 0;

			@include mq($from: mobile) {
				width: 60px;
			}

			@include mq($from: mobile-wide) {
				width: 82px;
			}

			.footer-nav__link {
				display: block;
				width: 24px;
				height: 24px;
				margin: 0 auto;
				@include hide-text;
				background: url($sprite-path) no-repeat -162px -116px;
			}
		}
	}

	&__link {
		color: #fff;
	}
}