/* form box */
.form-box {
	padding: 14px 17px 12px 15px;
	border: 1px solid #dae0dc;
	border-color: #dae0dc #d7ded9 #dce2de #d9dfda;
	border-radius: 6px;
	box-shadow: 3px 10px 16px rgba(#000, 0.35);
	background: #fff;

	&:last-child {
		margin-bottom: 0;
	}
}
