/* form styles */
.form-row {
	label {
		display: inline-block;
		vertical-align: top;
	}
}

.form-section {
	padding: 0 0 15px;
}

.form-title {
	margin: 0 0 15px;
	padding: 0 0 5px;
	border-bottom: 1px solid $base-border-color-4;

	h2 {
		margin: 0;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
	}
}

.required-text {
	text-align: right;
	color: $color-error;
}

.form-field {
	position: relative;
}

.input-text[type="email"] {
	text-transform: lowercase;
}

/* form messages */
.error {
	.input-text,
	textarea {
		border-color: $color-error-2 !important;
	}

	.error-message {
		display: table;
	}
}

.input-text.input-error {
	border-color: $color-error-2 !important;
	color: $color-error-2 !important;
}

.success {
	.input-text,
	textarea {
		border-color: $base-decor-color !important;
	}
}

.error-message {
	display: none;
	font: 100 12px/14px $add-font-family;
	color: $color-error-2;

	&__holder {
		display: table-cell;
		vertical-align: middle;
		padding: 2px 10px 0;
	}
}