/* global error */
.global-error {
	position: relative;
	margin: 0 -5px;
	padding: 17px 35px 17px 23px;
	box-shadow: 0 0 3px rgba(#000, 0.3);
	font: 500 13px/18px $add-font-family;
	color: $color-error;
	background: #fff;

	&__close {
		position: absolute;
		top: 23px;
		right: 23px;
		width: 7px;
		height: 7px;
		border: 0;
		@include hide-text;
		background: url($sprite-path) no-repeat -604px -110px;
	}

	p {
		margin: 0;
	}
}