/* goods number */
.goods-number {
	display: block;
	position: relative;
	margin: 0 auto 20px;
	width: 56px;
	height: 57px;
	background: url($sprite-path) no-repeat -320px 0;

	&__number-wrap {
		position: absolute;
		top: 2px;
		left: 0;
		right: 8px;
		text-align: center;
	}

	&__number {
		display: inline-block;
		vertical-align: top;
		width: 12px;
		height: 15px;
		padding: 3px 3px 0;
		border: 1px solid #fff;
		border-radius: 10px;
		text-align: center;
		font: 500 11px/13px $add-font-family;
		color: #fff;
		background: $base-decor-color-6;
	}
}
