.header-panel {
	position: relative;
	@extend %clearfix;

	&__wrap {
		border: 1px solid $base-border-color-4;
		border-width: 1px 0;
		background: #fff;
	}

	&__panel {
		position: relative;
		min-height: 62px;
		@extend %clearfix;
		// padding: 0 34px 0 90px;

		// @include mq($from: mobile-wide) {
		// 	padding-right: 54px;
		// 	padding-left: 162px;
		// }
	}

	&__nav-cell {
		float: left;
		width: 190px;
		background: #fff;

		@include mq($from: mobile) {
			width: 90px;
		}

		@include mq($from: mobile-wide) {
			width: 152px;
			padding: 0 0 0 5px;
		}
	}

	&__landing-cell {
		float: right;
		width: 34px;
		border-left: 1px solid $base-border-color-4;
		background: #fff;

		@include mq($from: mobile-wide) {
			width: 54px;
		}
	}
}
