/* icon info */
.icon-info {
	display: inline-block;
	vertical-align: top;
	width: 17px;
	height: 16px;
	@include hide-text;
	background: url($sprite-path) no-repeat -280px 0;

	&_green {
		width: 15px;
		height: 15px;
		background-position: -300px -20px;
	}
}
