/* image gallery */
.image-gallery {
	position: relative;
	margin: 0 0 5px;

	&__mask {
		position: relative;
		min-height: 155px;
		background: url($img-path + 'image-loader.jpg') no-repeat 50% 0;
		overflow: hidden;
	}

	&__slideset {
		position: relative;
		overflow: hidden;
	}

	&__slide {

		img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
	}

	.bullet-nav {
		padding: 10px 0 0;
	}
}
