/* image tabset */
.image-tabset {
	margin: 0;
	padding: 0;
	@extend %clearfix;

	&__item {
		list-style: none outside;
		float: left;
		width: 37px;
		margin: 0 0 0 4px;
		border: 1px solid #d0d0d0;
		overflow: hidden;
	}

	img {
		vertical-align: top;
		width: 100%;
		height: auto;
	}
}
