/* info unit */
.info-unit {
	position: relative;

	&__popup {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		border: 2px solid $base-decor-color;
		font-size: 16px;
		line-height: 20px;
		padding: 10px;
		background: $COLOR-SWANSDOWN-APPROX;

		p {
			margin: 0;
		}
	}

	&__close {
		position: absolute;
		top: -44px;
		right: -2px;
		width: 40px;
		height: 40px;
		border: 2px solid $base-decor-color;
		text-align: center;
		@include hide-text;
		background: $COLOR-SWANSDOWN-APPROX;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 13px;
			height: 14px;
			margin: -6px 0 0 -6px;
			background: url($sprite-path) no-repeat -40px -40px;
		}
	}
}
