/* info form */
.info-form {
	margin: 0;
	padding: 12px 8px 1px;
	font-family: $add-font-family;
	color: $base-text-color-2;
	background: #fff;

	.form-row {
		padding: 0 0 16px;
	}

	label {
		display: inline-block;
		vertical-align: top;
		font-size: 10px;
		line-height: 12px;
		text-transform: capitalize;
	}

	.form-field {
		position: relative;
	}

	.input-text,
	textarea {
		position: relative;
		z-index: 2;
		box-sizing: border-box;
		width: 100%;
		height: 30px;
		min-height: 30px;
		padding: 8px 10px;
		border: 1px solid #a9acaa;
		font: 500 12px/14px $add-font-family;
		color: $COLOR-AQUAISLAND-APPROX;
		border-radius: 3px;
		background: none;
	}

	textarea {
		height: 40px;
		padding: 5px 5px 0 10px;
	}

	.error-message {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 30px;
		font: italic 11px/12px 'Georgia', 'Times New Roman', serif;

		&_date {
			position: static;
			padding-top: 5px;
			height: auto;
		}
	}

	.label-note {
		color: $COLOR-AQUAISLAND-APPROX;
	}
}
