/* info item */
.info-item {
	padding: 17px 0 14px;
	font-size: 16px;
	line-height: 20px;

	@include mq($from: mobile) {
		font-size: 18px;
		line-height: 26px;
	}

	p {
		margin: 0 0 20px;
	}

	&_type_why {
		position: relative;
		margin: 0 0 15px;
		padding-bottom: 3px;
		text-align: center;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			font-size: 0;
			line-height: 0;
			background-color: #e2e2e2;
			background: linear-gradient(to right, #ffffff 0%,#f9f9f9 7%,#e9e9e9 17%,#e2e2e2 24%,#e2e2e2 76%,#e9e9e9 83%,#f9f9f9 93%,#ffffff 100%);
		}
	}
}
