/* info block */
.info-block {
	padding: 0 0 10px;

	& + & {
		margin-top: 17px;
	}

	h2 {
		margin: 0 0 9px;
		font: 700 10px/12px $add-font-family;
		text-transform: uppercase;
		color: $base-text-color-2;
	}
}
