/* inform list */
.inform-list {
	margin: 0;
	padding: 5px 0 10px;
	line-height: 22px;
	text-align: left;

	@include mq($from: mobile) {
		padding: 17px 10px 19px 15px;
	}

	li {
		list-style: none outside;
		position: relative;
		padding: 0 0 21px 36px;

		&:before {
			content: '';
			position: absolute;
			top: 1px;
			left: 0;
			width: 25px;
			height: 24px;
			background: url($sprite-path) no-repeat 0 -40px;
		}
	}

	&__note {
		font-size: 15px;
		line-height: inherit;
		color: #7f7f7f;
	}
}
