/* info tile */
.info-tile {
	position: relative;
	z-index: 1;
	margin: 0 0 29px;
	overflow: hidden;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: #6d6e72;

	@include mq($from: mobile) {
		font-size: 18px;
		line-height: 18px;
	}

	&__holder {
		position: relative;
		margin: 0 -2px 0 0;
		overflow: hidden;
	}

	&__item {
		float: left;
		width: 33.333%;
		margin: 0 0 -300px;
		padding: 0 0 300px;

		&:nth-child(2) {
			background: $base-decor-color-5;
		}

		&:nth-child(3) {
			background: #217ab2;
		}

		small {
			display: block;
			font-weight: normal;
			font-size: 11px;
			line-height: 11px;

			@include mq($from: mobile) {
				font-size: 14px;
				line-height: 14px;
			}
		}
	}

	&__item-holder {
		display: block;
		padding: 15px 5px 15px;
	}
}
