/* info icon unit */
.info-icon-unit {
	display: inline-block;
	vertical-align: middle;
	text-align: left;

	&__icon {
		display: block;
		margin: 0 0 0 2px;
		position: relative;

		.expanded & {

			&:before {
				content: '';
				position: absolute;
				z-index: 100;
				top: 100%;
				left: 50%;
				width: 15px;
				height: 9px;
				margin: 2px 0 0 -7px;
				background: url($sprite-path) no-repeat -280px -20px;
			}
		}

		&_green {
			.expanded & {

				&:before {
					background-position: -280px -30px;
				}
			}
		}
	}

	.icon-info {
		display: block;
	}

	&__close {
		position: absolute;
		top: -12px;
		right: -6px;
		width: 18px;
		height: 18px;
		border: 0;
		@include hide-text;
		background: url($sprite-path) no-repeat -300px 0;

		&_green {
			background-position: -348px -80px;
		}
	}

	&__popup {
		position: absolute;
		z-index: 99;
		top: 50%;
		left: 0;
		right: 0;
		margin: 17px 0 0;
		border: 1px solid #524e4e;
		font: 500 12px/14px $add-font-family;
		text-align: center;
		color: $base-text-color-2;

		&_green {
			border-color: #247e7c;
		}
	}

	&__popup-holder {
		padding: 11px 6px 13px 6px;
		border: 10px solid $text-color-7;
		background: #fefadd;

		&_green {
			border-color: #2b9a97;
		}
	}

	&__list {
		margin: 0;
		padding: 0;

		li {
			list-style: none outside;
			position: relative;
			margin: 15px 0 0;
			padding: 0 0 0 12px;
			text-align: left;

			&:first-child {
				margin-top: 0;
			}

			&:before {
				content: '•';
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	p {
		margin: 0;
	}
}
