/* input row */
.input-row {
	position: relative;
	margin: 31px 0 13px;
	background: #fff;
	@extend %clearfix;

	.step-box__title + & {
		margin-top: 27px;
	}

	&__label-holder {
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		min-height: 31px;

		.error & {
			display: table;
			height: 31px;

			> * {
				display: table-cell;
				vertical-align: bottom;
				padding-bottom: 4px;
			}
		}

		.error-message {
			text-align: right;
			font-weight: 300;
			font-size: 9px;
			line-height: 12px;
			text-transform: uppercase;
		}
	}

	&__label {
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		margin: 12px 0 0;
		font-weight: 300;
		font-size: 15px;
		line-height: 18px;
		text-transform: uppercase;
		color: $text-color-7;
		transition: top 0.3s;
		pointer-events: none;

		.input--filled & {
			top: 0;
		}

		.error & {
			position: static;
			margin: 0;
			padding: 0 10px 4px 0;
			white-space: nowrap;
		}

		.input-row_disabled & {
			color: $color-disabled;
		}

		&:before {
			content: attr(data-label-text);
			opacity: 0;
			transition: opacity 0.3s;
			font-weight: 600;
			font-size: 9px;
			line-height: 12px;
			text-transform: uppercase;
			color: $base-decor-color-3;

			.input--filled & {
				opacity: 1;
			}

			.error & {
				opacity: 1;
				color: $color-error-2;
			}
		}
	}

	&__label-text {
		position: absolute;
		top: 0;
		left: 9px;
		right: 9px;
		opacity: 1;
		transition: opacity 0.3s;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

		.input--filled & {
			opacity: 0;
		}

		.error & {
			display: none;
		}
	}

	.input-text,
	.input-textarea {
		display: block;
		box-sizing: border-box;
		width: 100%;
		height: 41px;
		padding: 11px 8px 10px;
		font: 300 15px/18px $add-font-family;
		color: $base-text-color-2;
		border: 1px solid $base-border-color-3;
		border-radius: 1px;
		background: none;
		outline: none;

		&:focus {
			background: #f5f1f0;
		}

		&[disabled] {
			color: $color-disabled;
			border-color: $color-disabled;
		}

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			display: none;
			-webkit-appearance: none;
		}
	}

	.input-textarea {
		height: 81px;
		min-height: 41px;
		resize: vertical;
	}

	&.error {

		.input-text,
		.input-textarea {
			color: $color-error-2;
		}
	}

	&_with-btn {

		.input-text {
			padding-right: 80px;
		}

		.btn-small-apply,
		.applied-badge {
			display: none;
		}

		&.input-filling {

			.btn-small-apply {
				display: block;
			}
		}

		&.input-applied {

			.applied-badge {
				display: block;
			}
		}
	}

	.input-decor {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 9px;
		margin: auto;
	}
}

.form-field {

	&_credit-card {

		.input-text {
			padding-right: 60px;
		}
	}

	&_cvv {

		.input-text {
			padding-right: 60px;
		}
	}
}

.applied-badge {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 58px;
	@include hide-text;
	overflow: hidden;
	background: $base-border-color-3;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 14px;
		height: 12px;
		margin: auto;
		background: url($sprite-path) no-repeat -222px -136px;
	}
}
