/* label gift */
.label-gift {
	position: relative;
	padding: 0 0 0 27px;

	&:before {
		content: '';
		position: absolute;
		top: -10px;
		left: 0;
		width: 20px;
		height: 26px;
		background: url($sprite-path) no-repeat -526px -128px;

		input[type="checkbox"]:checked + & {
			background-position: -550px -128px;
		}
	}
}
