/* landing navigation */
.landing-opener {
	$openerAnimSpeed: 0.5s;

	display: block;
	position: relative;
	height: 62px;
	overflow: hidden;
	background: #fff;
	transition: background-color $openerAnimSpeed;

	.landing-nav-expanded & {
		background: #000;
	}

	&__dots {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 6px;
		height: 6px;
		border-radius: 3px;
		text-indent: -9999px;
		background: #5a5a5a;

		.landing-nav-expanded & {
			background: #fff;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: -12px;
			left: 0;
			right: 0;
			margin: auto;
			width: 6px;
			height: 6px;
			border-radius: 3px;
			background: #5a5a5a;
			text-indent: 0;

			.landing-nav-expanded & {
				background: #fff;
			}
		}

		&:after {
			top: auto;
			bottom: -12px;
		}
	}
}
