/* landing nav */
.landing-nav {
	position: absolute;
	z-index: 100;
	top: 100%;
	right: 0;
	width: 100%;
	margin-top: -1px;
	margin-right: -100%;
	background: #000;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	@include mq($from: mobile) {
		width: 297px;
	}

	&__list {
		margin: 0;
		padding: 9px 0 0;
		font: 300 14px/18px $add-font-family;
	}

	&__item {
		list-style: none outside;
		border-top: 1px solid #303636;

		&:first-child {
			border-top: 0;
		}
	}

	&__link {
		display: block;
		padding: 16px 20px 16px 20px;
		color: #cccbcb;
		-webkit-tap-highlight-color: rgba(0,0,0,0);

		@include mq($from: mobile) {
			padding-left: 44px;
		}

		&:active {
			text-decoration: none;
			color: #fff;
			background: #7c7c7c;
		}
	}
}
