/* leave review */
.leave-review {
	position: relative;
	margin: 5px 0 0 6px;
	padding: 11px 9px 13px 0;
	border-top: 1px dotted #6c6b6b;
	font: 500 12px/14px $add-font-family;
	color: $text-color-3;

	&__heading {
		padding: 0 0 10px;
	}

	&__title {
		margin: 0 0 5px;
		font-size: 13px;
		line-height: 16px;
		text-transform: uppercase;
		color: $base-text-color-2;
	}

	p {
		margin: 0 0 4px;
	}
}
