/* links-heading */
.links-heading {
	margin: 0 -5px 17px;
	padding: 14px 9px 3px;
	border-bottom: 1px solid $base-border-color-4;
	@extend %clearfix;
	overflow: hidden;

	&__link-holder {

		.back-link {
			display: block;
		}
	}
}

.show-default-package,
.view-all-packages {
	float: right;
	position: relative;
	z-index: 1;
	margin: -1px 0 0 10px;
	padding: 0 22px 0 0;
	font: 500 14px/18px $add-font-family;
	text-transform: capitalize;
	color: $base-decor-color-7;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		width: 15px;
		height: 16px;
		margin: -8px 0 0;
		background: url($sprite-path) no-repeat -280px -62px;
	}
}

.view-all-packages {
	float: right;
	padding-right: 26px;
	color: $base-link-color;

	&:after {
		width: 15px;
		height: 13px;
		margin: -7px 0 0;
		background-position: -300px -62px;
	}
}
