/* list figure */
.list-figure {

	&__title {
		display: block;
		margin: 0 0 2px;
		font-weight: 300;
		font-size: 9px;
		line-height: 12px;
		color:$text-color-7;
	}
}

.figure-list {
	margin: 0 0 13px;
	padding: 0;
	font-weight: 700;
	font-size: 11px;
	line-height: 17px;
	text-transform: uppercase;
	color: $base-decor-color-6;

	&__item {
		list-style: none outside;
	}
}
