/* loader */
.loader {
	display: none;
	position: absolute;
	right: 16px;
	top: 50%;
	width: 24px;
	height: 24px;
	margin: -12px 0 0;
	background: url($img-path + 'loader-02.png') no-repeat;

	.cart-block__btn-row & {
		right: 5px;
	}

	.order-control & {
		position: absolute;
		right: -2px;
		border-radius: 13px;
		background-color: rgba($base-decor-color, 0.7);
	}

	.counter-item & {
		position: fixed;
		z-index: 1002;
		left: 50%;
		right: auto;
		margin: -12px 0 0 -12px;
		background-color: transparent;
	}
}
