/* page logo */
.logo {
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	margin: 0 0 3px;

	@include mq($from: mobile) {
		width: 50px;
	}

	@include mq($from: mobile-wide) {
		width: 74px;
	}

	img {
		vertical-align: top;
		width: 100%;
		height: auto;
	}
}
