/* logo panel */
.logo-panel {
	margin: 0 -5px 0;
	padding: 11px 26px 13px 10px;
	border: 1px solid #909090;
	border-width: 0 0 1px;
	text-align: center;
	background: #2b2b2b;

	&_type_light {
		padding: 8px 10px 8px;
		border: 0;
		background: #6d6e70;
	}

	&__logo {
		display: inline-block;
		vertical-align: top;

		img {
			vertical-align: top;
		}
	}
}
