/* login buttons */
.login-buttons {
	padding: 0 8px 1px;
	text-align: center;

	p {
		margin: 0 0 6px;
	}
}

.btn-login {
	display: block;
	position: relative;
	margin: 0 0 7px;
	padding: 9px 14px 9px 50px;
	font: 16px/18px Arial, Helvetica, sans-serif;
	text-align: center;

	&:active {
		text-decoration: none;
	}

	&_fb {
		color: #fff;
		background: #3b5998;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 35px;
			width: 1px;
			background: #2d4576;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 9px;
			margin: auto;
			width: 14px;
			height: 25px;
			background: url($sprite-path) no-repeat 0 -162px;
		}
	}

	&_google {
		border: 1px solid #000;
		color: $COLOR-BLACK;
	}
}
