/* login form */
.login-form {
	margin: 0 0 10px;

	&__row {
		padding: 0 0 21px;

		label {
			display: inline-block;
			vertical-align: top;
			padding: 0 0 7px;
			font-size: 12px;
			line-height: 14px;
			color: #4e4b4b;
		}
	}

	&__options {
		margin: -4px 0 0;
		padding: 0 0 20px;
		font-size: 11px;
		line-height: 13px;
		color: #857f7f;

		.link {
			float: right;
			margin: 0 0 0 5px;
			font-size: 12px;
			line-height: 14px;
			color: inherit;
			text-decoration: underline;

			&:active {
				text-decoration: none;
			}
		}
	}

	&__options-item {
		padding: 12px 0 0;
		@extend %clearfix;

		&:first-child {
			padding-top: 0;
		}
	}

	&__check-item {

		&:first-child {
			padding-top: 0;
		}

		label {
			display: inline-block;
			vertical-align: top;
			position: relative;
			padding: 0 0 0 20px;

			.error & {
				color: $color-error;
			}

			&:before {
				content: '';
				position: absolute;
				top: -2px;
				left: 0;
				width: 14px;
				height: 13px;
				border: 1px solid #bdbfbd;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 2px;
				left: 1px;
				width: 13px;
				height: 12px;
				background: url($sprite-path) no-repeat -200px -136px;
				display: none;
			}

			a {
				color: inherit;
				text-decoration: underline;

				&:active {
					text-decoration: none;
				}
			}
		}

		input[type="checkbox"] {
			position: absolute;
			left: -9999px;

			&:checked + label {

				&:after {
					display: block;
				}
			}
		}
	}

	.input-text {
		display: block;
		box-sizing: border-box;
		width: 100%;
		height: 29px;
		margin: 0;
		padding: 6px 8px;
		border: 1px solid #bdbfbd;
		font: 13px/15px Arial, Helvetica, sans-serif;
		color: #4e4b4b;
	}

	.form-field {
		position: relative;

		&_type_password {

			&:before {
				content: '';
				position: absolute;
				top: 7px;
				right: 5px;
				width: 16px;
				height: 16px;
				background: url($sprite-path) no-repeat -222px -116px;
			}

			.input-text {
				padding-right: 30px;
			}
		}
	}

	.form-btn-row {
		margin: 0 -3px;
	}

	.error-message {

		&__holder {
			padding: 5px 0 0;
		}
	}
}
