.main-nav-unit {
	display: inline-block;
	vertical-align: middle;
	height: 62px;
	margin: 0 36px 0 0;

	@include mq($from: mobile) {
		margin: 0;
	}

	@include mq($from: mobile-wide) {
		margin: 0 4px 0 0;
	}
}

.nav-opener {
	$openerAnimSpeed: 0.5s;

	position: relative;
	display: block;
	height: 62px;
	width: 40px;
	@include hide-text;
	background-color: transparent;
	transition: background-color $openerAnimSpeed;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	@include mq($from: mobile) {
		width: 28px;
	}

	@include mq($from: mobile-wide) {
		width: 50px;
	}

	.main-nav-expanded & {
		// height: 40px;
		// margin-bottom: -14px;
		// border-color: #000;
		// color: #fff;
		background: #000;
	}

	&:active {
		text-decoration: none;
	}

	&__ico {
		position: absolute;
		left: 4px;
		right: 4px;
		top: 50%;
		margin: -12px auto 0;
		height: 21px;

		@include mq($from: mobile-wide) {
			left: 8px;
			right: 8px;
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			border: 3px solid #585555;
			border-width: 3px 0;
			transition: border-color $openerAnimSpeed;

			.main-nav-expanded & {
				border-color: #fff;
			}
		}

		&:after {
			top: 9px;
			bottom: auto;
			border-width: 3px 0 0;
		}
	}
}
