/* main navigation */
.main-nav {
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0;
	width: 100%;
	margin-top: -1px;
	margin-left: -100%;
	text-align: left;
	background: #000;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	&__holder {
		padding: 21px 13px 10px;
	}
}

.category-unit {

	.main-nav & {

		&:last-child {
			padding-bottom: 10px;
		}

		&__item {
			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		}

		a {
			color: #fff;
		}

		&__sub-list {

			li {
				border-bottom: 1px solid rgba(255, 255, 255, 0.4);
			}

			a {

				&:active {
					color: $COLOR-WHITE;
					background: #7c7c7c;
				}
			}
		}
	}

	&__link {

		.main-nav &:active {
			background: $base-decor-color-2;
		}

		&_js_opener {

			.main-nav .expanded & {
				background: $base-decor-color-2;
			}
		}
	}
}
