/* message unit */
.message-unit {
	display: none;
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	padding: 0 20px;
	background: rgba(#fff, 0.75);

	&__message {
		position: relative;
		margin: 20px 0 0;
		padding: 10px 40px;
		box-shadow: 0 0 5px rgba(#000, 0.5);
		font: 300 14px/18px $add-font-family;
		text-align: center;
		color: #fff;
		background: $base-decor-color;

		&:before {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			margin: -1px auto 0;
			width: 10px;
			height: 6px;
			background: url($sprite-path) no-repeat -320px -146px;
		}

		p {
			margin: 0;
		}
	}
}
