/* my orders heading */
.my-orders-heading {
	position: relative;
	min-height: 14px;
	margin: 0 -5px 20px;
	padding: 14px 30px 6px 48px;
	border: solid #c4c1c1;
	border-width: 1px 0 4px;
	background: #fff;

	&__title {
		margin: 0;
		font: 16px/24px $add-font-family;
		text-transform: uppercase;
		color: #000;
	}

	.back-link {
		position: absolute;
		margin: 0;
		top: 12px;
		left: 13px;
		width: 24px;
		height: 24px;
		background-position: -54px -134px;
	}
}
