/* my-order info */
.my-order-info {
	margin: 0 0 22px;
	padding: 0 0 14px;
	border-bottom: 1px dotted #cecdcd;
	@extend %clearfix;

	&__info {
		padding: 2px 0 0;
		overflow: hidden;
	}

	&__additional {
		float: right;
		width: 100px;
		margin-left: 10px;

		@include mq($from: mobile-wide) {
			width: 142px;
		}

		.btn-detail {
			display: block;
		}
	}
}