/* no order */
.no-order {
	padding: 5px 8%;
	font-size: 14px;
	line-height: 18px;
	text-align: center;

	@include mq($from: mobile-wide) {
		padding-left: 11%;
		padding-right: 11%;
		font-size: 18px;
		line-height: 22px;
	}

	&__or {
		display: block;
		padding: 4px 0 16px;

		@include mq($from: mobile-wide) {
			padding: 9px 0 33px;
		}
	}

	.btn-order {
		margin: 0 0 12px;
		font-size: 14px;
		display: block;

		@include mq($from: mobile-wide) {
			margin: 0 0 26px;
		}
	}

	p {
		margin: 0 0 22px;
	}
}