.opinion-quote {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: -1px;
	color: rgba($base-text-color-2, 0.65);

	&__text {
		display: block;
		margin: 0 0 23px;

		&:before,
		&:after {
			content: '';
			display: inline-block;
			position: relative;
			width: 16px;
			height: 14px;
			margin: 0 4px 0 0;
			background: url($sprite-path) no-repeat -200px -20px;
		}

		&:after {
			top: 3px;
			margin: 0 0 0 6px;
			background-position: -222px -20px;
		}
	}

	&__author {
		display: block;
		font-style: normal;
		color: $base-text-color-2;
	}
}
