/* opinion item */
.opinion-item {
	margin: 0 -6px 18px;
	padding: 20px 10px 16px;
	border: 1px solid $base-border-color-4;
	border-width: 1px 0;
	text-align: center;
	background: #f4f4f4;

	@include mq($from: mobile) {
		padding: 38px 10px 26px;
	}

	&__flag {
		margin: 0 0 15px;

		img {
			vertical-align: top;
		}
	}

	&__title {
		margin: 0 0 9px;
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		color: $base-text-color-2;

		@include mq($from: mobile) {
			font-size: 18px;
			line-height: 22px;
		}
	}

	&__stars {
		margin: 0 0 17px;

		img {
			vertical-align: top;
		}
	}
}
