/* or unit */
.or-unit {
	position: relative;
	margin: 0 0 21px;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	color: #35383d;
	overflow: hidden;

	.login-block & {
		margin: 0 7px 11px;
		color: #4e4c4c;
	}

	.checkout-block & {
		font: 700 13px/16px $add-font-family;
		text-transform: uppercase;
		color: #fff;
	}

	.step-box & {
		margin-left: -10px;
		margin-right: -10px;
	}

	&__or {
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 32px;
		height: 32px;
		border-radius: 16px;
		margin: 0 auto;
		line-height: 30px;
		background: #fff;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 100%;
			left: -999px;
			height: 1px;
			margin: 0 5px 0 0;
			background: #c3c3c3;
		}

		&:after {
			left: 100%;
			right: -999px;
			margin: 0 0 0 5px;
		}

		.login-block & {
			width: auto;
			height: auto;
			line-height: 20px;
		}

		.checkout-block & {
			width: 34px;
			height: 34px;
			border-radius: 17px;
			line-height: 34px;
			background: $text-color-7;

			&:before,
			&:after {
				margin: 0;
				border-top: 1px dotted $text-color-7;
				background: none;
			}
		}
	}
}
