/* order item */
.order-item {
	font-family: $add-font-family;

	&__heading {
		padding: 14px 10px 10px 9px;
		border-bottom: 1px dotted #bababa;
		// @extend %clearfix;

		@include mq($from: mobile-wide) {
			// text-align: center;
		}
	}

	&__heading-holder {
		@extend %clearfix;
	}

	&__image {
		margin: 0 0 10px;
		text-align: center;

		@include mq($from: mobile) {
			float: left;
			// width: 40%;
			width: 110px;
			margin: 0 13px 0 0;
			text-align: left;
		}

		img {
			vertical-align: top;
		}
	}

	&__title-holder {
		text-align: right;

		@include mq($from: mobile) {
			padding: 6px 0 0;
			text-align: left;
			overflow: hidden;
		}
	}

	&__title-text {
		min-height: 42px;
		padding: 0 0 5px;
		font: 500 12px/14px $add-font-family;
	}

	&__title {
		display: block;
		font-weight: 500;
		font-size: 11px;
		line-height: 12px;
		text-transform: uppercase;
		color: $text-color-7;

		a {
			color: inherit;

			&:active {
				text-decoration: underline;
			}
		}
	}

	&__title-label {
		display: block;
		color: $base-link-color;
	}

	&__content {
		padding: 17px 10px 10px 14px;
		border-bottom: 1px dotted #bababa;

		&:last-child {
			border-bottom: 0;
		}

		@include mq($from: mobile-wide) {
			// text-align: center;
		}
	}
}
