/* order control */
.order-control {
	// display: inline-block;
	// vertical-align: top;
	margin: 0 0 6px;
	padding: 0 2px 0 0;
	white-space: nowrap;
	text-align: center;

	@include mq($from: mobile) {
		text-align: right;
	}

	&__ttl {
		display: inline-block;
		vertical-align: middle;
		margin: 4px 7px 0 0;
		font: 500 12px/14px $add-font-family;
		text-transform: uppercase;
		color: $text-color-2;
	}

	form {
		margin: 0;
		display: inline-block;
		vertical-align: middle;
	}
}
