/* order-unit */
.my-orders-list {
	padding: 6px 0 20px;

	&:last-child {
		padding-bottom: 10px;
	}
}

.order-unit {
	$root: '.order-unit';

	@extend %clearfix;

	.my-orders-list & {
		margin: 0 0 40px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&_single {
		padding-bottom: 3px;
	}

	&__info {
		padding: 2px 0 0 4px;
		overflow: hidden;

		p {
			margin: 0;
		}

		#{$root}_single & {
			padding-top: 12px;
		}
	}

	&__title {
		margin: 0 0 5px;
		font-weight: normal;
		font-size: inherit;
		color: $base-text-color-2;
	}

	&__image {
		position: relative;
		float: right;
		width: 100px;
		margin: 0 0 0 10px;

		@include mq($from: mobile-wide) {
			width: 162px;
		}

		img {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			height: auto;
		}
	}

	&__image-holder {
		border: 1px solid #c7c7c7;
		white-space: nowrap;
		overflow: hidden;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 47px;
			margin: 0 0 0 -3px;

			@include mq($from: mobile-wide) {
				height: 76px;
			}
		}

		#{$root}_single & {

			&:before {
				height: 70px;

				@include mq($from: mobile-wide) {
					height: 111px;
				}
			}
		}
	}

	&__number {
		position: absolute;
		top: -12px;
		left: 0;
		right: 0;
		margin: auto;
		padding: 2px 0 0;
		width: 20px;
		height: 18px;
		border-radius: 13px;
		font-size: 11px;
		line-height: 16px;
		color: $base-text-color-2;
		text-align: center;
		background: #ebe8e8;

		@include mq($from: mobile-wide) {
			top: -15px;
			padding: 4px 0 0;
			width: 26px;
			height: 22px;
			font-size: 14px;
			line-height: 18px;
		}
	}

	&__price {
		display: block;
		padding-top: 5px;
		font-weight: normal;
		color: $base-text-color-2;
	}
}
