/* order info unit */
.order-info-unit {
	padding: 11px 0 12px;
	line-height: 22px;

	&__title {
		margin: 0 0 12px;
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		color: $base-text-color-2;
	}

	&__address {
		margin: 0 0 10px;
		font-style: normal;

		&-item {
			display: block;
		}
	}
}