/* order info holder */
.order-info-holder {
	padding: 9px 20px 10px 13px;
}
.order-info {
	position: relative;
	display: table;
	width: 100%;
	font: 500 12px/14px $add-font-family;
	color: $text-color-7;

	.info-icon-unit__popup {
		top: auto;
		margin: 10px 0 0;
	}

	&__item {
		display: table-row;
		width: 100%;

		& > * {
			display: table-cell;
			vertical-align: top;
			padding: 4px 0;

			&:last-child {
				width: 1%;
				padding-left: 5px;
				white-space: nowrap;
			}
		}
	}
}
