/* order box */
.order-box {
	margin: 0 0 10px;
	border: 1px solid #c8c8c8;
	box-shadow: 0 2px 3px -1px rgba(#000, 0.3);
	font-family: $add-font-family;
	background: #fff;

	&__heading {
		padding: 13px 11px 13px 13px;
		border-bottom: 1px solid $base-border-color-4;
		@extend %clearfix;

		.price-box {
			display: block;
			font-weight: 700;
			font-size: 16px;
			line-height: 18px;
			color: $base-decor-color-4;
		}
	}

	&__title {
		display: block;
		margin: 0 0 10px;
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
		color: $base-text-color-2;
		text-align: center;

		@include mq($from: mobile) {
			float: left;
			margin: 1px 5px 0 0;
			text-align: left;
		}
	}

	&__price-info {
		text-align: center;
		overflow: hidden;

		@include mq($from: mobile) {
			text-align: right;
		}
	}

	&__price-note {
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: $base-decor-color-6;
	}
}
