/* other link */
.other-link {
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	color: $text-color-7;

	.page-heading & {
		float: right;
		margin: 4px 0 0 10px;
		color: $base-text-color-2;
	}

	p {
		margin: 0;
	}

	&__link {
		display: inline-block;
		position: relative;
		padding: 0 9px 0 0;
		text-decoration: underline;
		color: #076a76;

		&:after {
			content: '>';
			position: absolute;
			top: 1px;
			right: 0;
			font-size: 16px;
			line-height: 16px;
			text-decoration: none;
		}

		&:active {
			text-decoration: none;
		}
	}
}
