/* package-list */
.package-list {
	padding: 0 5px;
}

.package-item {
	margin: 0 0 4px;
	box-shadow: 0 1px 1px rgba(#000, 0.15);

	&__head {
		display: block;
		position: relative;
		padding: 8px 30px 10px 10px;
		font: 300 16px/18px $add-font-family;
		color: #fff;
		background: $base-decor-color;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 10px;
			margin: auto;
			width: 9px;
			height: 20px;
			background: url($sprite-path) no-repeat -40px -134px;
		}

		&:active {
			text-decoration: none;
		}

		.price-box {
			float: right;
			margin: 0 0 0 5px;
			font-weight: 500;
			opacity: 0.6;
		}
	}

	&__opener-holder {
		display: table;
		width: 100%;
	}

	&__title {
		display: table-cell;
		vertical-align: middle;
		max-width: 100px;
	}

	&__title-info {
		display: table-cell;
		vertical-align: middle;
		width: 1px;
		white-space: nowrap;
	}

	&__ttl {
		display: block;
		font-weight: inherit;
		overflow: hidden;
	}

	&__slide {
		position: relative;
		overflow: hidden;
	}

	&__content {
		border: 1px solid $base-border-color-4;
		margin: 0 0 16px;
		padding: 10px;
		border-width: 0 1px 1px;
		border-radius: 0 0 2px 2px;
		color: #4e4e4e;
	}

	&__content-head {
		padding: 0 0 24px;
		@extend %clearfix;
	}

	&__logo-box {
		float: left;
		margin: 4px 0 0;

		img {
			vertical-align: top;
			max-width: none !important;
		}
	}

	.warranty-item {
		float: right;
	}

	&_type_default {

		.package-item__head {
			padding-left: 32px;
			background: $base-decor-color-7;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 7px;
				width: 15px;
				height: 14px;
				margin: -9px 0 0;
				background: url($sprite-path) no-repeat -280px -40px;
			}
		}
	}

	&_state_expanded {
		box-shadow: none;

		.package-item__head {
			padding-right: 10px;
			border: 1px solid $base-border-color-4;
			border-radius: 2px 2px 0 0;
			color: #4e4e4e;
			background: $base-background-color-2;
			@include word-wrap;

			&:before {
				background-position: -300px -40px;
			}

			&:after {
				display: none;
			}

			.price-box {
				color: #4e4e4e;
				opacity: 1;

				&:before {
					content: '(';
				}

				&:after {
					content: ')';
				}
			}
		}
	}
}
