/* page heading */
.page-heading {
	margin: 0 -5px 17px;
	padding: 12px 7px 9px 12px;
	border-bottom: 1px solid #cecece;
	@extend %clearfix;

	&__title {
		margin: 0;
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		overflow: hidden;
	}
}
