/* pages */
.pages {
	margin: 0 0 20px;
	@extend %clearfix;

	&__prev,
	&__next {
		padding: 5px 10px;
		font-size: 10px;
		line-height: 16px;
		text-transform: uppercase;
	}

	&__prev {
		float: left;
		padding-left: 20px;

		&:before {
			content: '<';
			position: absolute;
			left: 7px;
			margin: -1px 0 0;
		}
	}

	&__next {
		float: right;
		padding-right: 20px;

		&:before {
			content: '>';
			position: absolute;
			right: 7px;
			margin: -1px 0 0;
		}
	}
}
