/* page loader */
.page-loader {
	display: none;
	position: absolute;
	z-index: 1001;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0.7;
	background: #000;

	.loader {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
	}
}
