/* prescription heading */
.prescription-heading {
	position: relative;
	min-height: 14px;
	margin: 0 -5px;
	padding: 9px 30px 7px;
	background: #fff;

	&__title {
		margin: 0;
		font: 700 12px/14px $add-font-family;
		text-transform: uppercase;
		color: $base-text-color-2;
		text-align: center;
	}

	.back-link {
		position: absolute;
		margin: 0;
		top: 5px;
		left: 6px;
	}
}
