/* prevent unit */
.prevent-unit {
	display: none;
	padding: 0 0 12px;
	font: 300 11px/16px $add-font-family;
	color: $text-color-2;

	p {
		margin: 0 0 5px;
	}

	&__warn {
		font-weight: 500;
		font-size: 13px;
		line-height: 18px;
		color: #dc000f;
	}

	&__link {
		display: inline-block;
		vertical-align: top;
		color: $base-decor-color-6;
	}
}