/* price compare */
.price-compare {
	display: table;
	table-layout: fixed;
	width: 100%;
	border: 1px solid #dbdada;
	border-width: 1px 0;

	&__item {
		display: table-cell;
		vertical-align: top;
		padding: 5px 5px 7px;
		text-align: center;

		& + & {
			border-left: 1px solid #dbdada;
		}
	}

	&__ttl {
		display: block;
		font:500 11px/14px $add-font-family;
		color: $text-color-6;
	}

	.price-box {
		font: 700 16px/20px $add-font-family;
		color: $base-decor-color-3;

		.currency {
			position: relative;
			top: 1px;
			font-size: 18px;
		}
	}
}
