/* price panel */
.price-panel {
	display: table;
	border-collapse: collapse;
	width: 100%;
	font-size: 12px;
	line-height: 14px;
	color: #4e4e4e;

	.price-box {
		margin: 0 0 3px;
		font-weight: 700;
		font: 16px/18px $add-font-family;
		color: $base-decor-color-7;

		&_type_old {
			font-size: inherit;
			line-height: inherit;
			color: inherit;
		}
	}

	&__item {
		display: table-cell;
		vertical-align: top;
		width: 30%;
		padding: 7px 4px 5px;
		border: 1px solid $base-border-color-4;
		text-align: center;

		&_type_total {
			width: 40%;
			padding: 0;
			color: #fff;
			background: $base-decor-color-7;

			&:active {
				text-decoration: none;
			}

			button {
				width: 100%;
				margin: 0;
				border: 0;
				padding: 7px 4px 10px;
				color: inherit;
				background: none;
			}

			label {
				display: block;
			}

			.price-box {
				margin: -4px 0 0;
				color: inherit;
			}
		}

		.loader {
			left: 50%;
			margin: -12px 0 0 -12px;
		}
	}

	&__ttl {
		display: block;
		margin: 0 0 6px;
		font-weight: normal;
	}

	&__link {
		display: block;
		margin: 9px 0 0;
		font: 500 18px/20px $add-font-family;
		text-transform: uppercase;
	}
}
