/* price total */
.price-total {
	margin: 0 0 14px;

	&__equal {
		display: inline-block;
		vertical-align: bottom;
		width: 18px;
		height: 4px;
		margin: 0 8px 4px 0;
		border: 3px solid $base-text-color-2;
		border-width: 3px 0;
		@include hide-text;
	}

	&__ttl {
		display: inline-block;
		vertical-align: bottom;
		margin: 0 14px 0 0;
		font-weight: 700;
		font-size: 12px;
		line-height: 18px;
		text-transform: uppercase;
		color: $text-color-2;
	}

	.price-box {
		display: inline-block;
		vertical-align: bottom;
		font-weight: 500;
		font-size: 20px;
		line-height: 22px;
		color: $base-decor-color-6;
	}
}
