/* products unit */
.products-unit {
	margin: 0 0 20px;

	&__title {
		// margin: 0 0 37px;
		padding: 0 0 4px;
		font: 700 12px/16px $add-font-family;
		text-transform: uppercase;
		color: $base-decor-color-2;
		border-bottom: 2px solid currentColor;

		@include mq($from: mobile) {
			font-size: 16px;
			line-height: 18px;
		}
	}

	&__opener {
		display: block;
		position: relative;
		padding: 0 30px 0 5px;
		color: inherit;

		&:active {
			text-decoration: none;
		}

		&:after {
			content: '+';
			position: absolute;
			top: 50%;
			font-weight: normal;
			right: 13px;
			font-size: 14px;
			line-height: 16px;
			margin: -8px 0 0;

			.expanded & {
				content: '-';
				color: #000;
			}
		}
	}

	&__content {
		position: relative;
		width: 100%; /* Need for correct work custom scroll */
		overflow: hidden;
	}
}

/* products unit type_similar */
.products-unit {
	$self: '.products-unit_type_similar';

	&_type_similar {
		margin: 0 0 20px;
	}

	&__title {

		#{$self} & {
			font-size: 13px;
			line-height: 16px;
			padding: 0 0 4px;
			color: $base-decor-color-3;
			border-bottom: 1px solid #99b4b2;

			@include mq($from: mobile) {
				font-size: 13px;
				line-height: 16px;
			}
		}
	}

	&__opener {
		display: block;
		position: relative;
		padding: 0 30px 0 5px;
		color: inherit;

		&:active {
			text-decoration: none;
		}

		&:after {
			content: '+';
			position: absolute;
			top: 50%;
			font-weight: normal;
			right: 13px;
			font-size: 14px;
			line-height: 16px;
			margin: -8px 0 0;

			.expanded & {
				content: '-';
				color: #000;
			}
		}
	}

	&__content {
		position: relative;
		overflow: hidden;
	}
}
