/* product small */
.product-small {
	padding: 0 15px;
	font: 300 13px/16px $add-font-family;
	text-align: center;

	a {
		display: block;
		color: rgba($COLOR-BLACK, 0.7);

		&:active {
			text-decoration: none;
		}
	}

	&__image {
		vertical-align: top;
		margin: 0 0 10px;
	}

	&__name {
		display: block;
		font-weight: 300;
	}

	.price {
		display: block;
		font-weight: 500;
		color: $COLOR-BLACK;
	}

}
