/* product buttons */
.product-buttons {
	padding: 0 4px 11px;

	&__item {
		padding: 0 0 7px;

		& + & {
			padding-top: 9px;
			border-top: 1px solid #edebeb;
		}
	}

	.sticky-item {

		&.state-sticky {
			left: 12px;
			right: 12px;
			bottom: 0;
			width: auto;
		}
	}
}
