/* product unit */
.product-unit {
	padding: 13px 3px 0;

	&__heading {
		padding: 0 0 14px 2px;
	}

	&__title {
		position: relative;
		padding: 0 35px 0 0;
	}

	&__ttl {
		margin: 0;
		font: 500 10px/12px $add-font-family;
		color: $text-color-6;
	}

	&__name {
		font-size: 12px;
		text-transform: uppercase;
		color: $base-decor-color-3;
	}
	&__model {
		display: block;
	}

	&__title-tag {
		position: absolute;
		top: 0;
		right: 2px;

		img {
			max-width: none !important;
			vertical-align: top;
		}
	}

	&__heading-info {
		font: 500 11px/13px $add-font-family;
		color: #515151;
		@extend %clearfix;
	}

	&__size {
		float: right;
		margin: 0;
		padding: 2px 0 0;

		> * {
			float: none;
			display: inline-block;
			vertical-align: top;
			padding: 0;
			font-weight: normal;
		}
	}

	.review-item {
		float: left;
	}

}
