/* product images */
.product-images {
	padding: 0 0 16px;

	&__text {
		padding: 0 0 5px 4px;
		font: 300 10px/12px $add-font-family;
		color: #938f8f;
	}

	&__open-zoom {
		color: inherit;

		&:active {
			text-decoration: none;
		}
	}

	&__mask-holder {
		position: relative;
		min-height: 50px;
		margin: 0 0 5px;
		padding: 0 30px;
	}

	&__mask {
		position: relative;
		overflow: hidden;
	}

	&__slideset {
		position: relative;
		overflow: hidden;
	}

	&__slide {

		img {
			vertical-align: top;
			max-width: none !important;
			width: 100%;
			height: auto;
		}
	}

	.bullet-nav {
		margin: 0 0 5px;
	}

	.btn-prev,
	.btn-next {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	.btn-next {
		left: auto;
		right: 0;
	}
}
