/* product related */
.product-related {
	width: 80px;
	padding: 14px 20px 0;
	text-align: center;
	font:500 11px/13px $add-font-family;
	color: #272727;

	a {
		color: inherit;
	}

	&__image {
		vertical-align: top;
		margin: 0 0 8px;
	}

	&__ttl {
		padding: 0 0 5px;
	}

	&__name {
		display: block;
		font-weight: inherit;
	}

	p {
		margin: 0 0 4px;
	}

	.price-box {
		padding: 0 0 2px;
		font-size: 12px;
		line-height: 14px;
		color: #373737;
	}
}
