/* products list */
.products-list {
	margin: 0 -6px 30px;
	padding: 0;
}

.product-item {
	padding: 10px 6px 9px;
	list-style: none outside;

	@include mq($from: mobile) {
		padding: 10px 13px 9px;
	}

	& + & {
		border-top: 1px solid #e6e5e5;
	}

	&__links {
		@extend %clearfix;
	}

	.check-field {
		float: left;
		position: relative;
		margin: 2px 0 0;
		padding: 0 0 0 21px;

		&.disabled {
			opacity: 0.3;

			&:before {
				content: '';
				position: absolute;
				z-index: 1;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}

		label {
			display: block;
			font: 500 9px/16px $add-font-family;
			text-transform: uppercase;
			color: #f0702d;

			@include mq($from: mobile) {
				font-size: 10px;
				line-height: 15px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 13px;
				height: 13px;
				border: 1px solid #e0e0e0;
			}

			&:after {
				display: none;
				content: '';
				position: absolute;
				top: -5px;
				left: 2px;
				width: 16px;
				height: 18px;
				background: url($sprite-path) no-repeat -80px -102px;
			}
		}

		input {
			position: absolute;
			left: -9999px;

			&:checked + label {

				&:after {
					display: block;
				}
			}
		}
	}

	.more-link {
		float: right;
		position: relative;
		margin: 0 2px 0 0;
		padding: 0 13px 0 0;
		font: 500 9px/12px $add-font-family;
		text-transform: uppercase;
		color: $base-decor-color-2;

		@include mq($from: mobile) {
			font-size: 10px;
			line-height: 12px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			margin: -4px 0 0;
			font-size: 0;
			line-height: 0;
			width: 8px;
			height: 8px;
			background: url($sprite-path) no-repeat -70px -80px;
		}
	}

	&__image {
		padding: 18px 0 3px;
		min-height: 40px;
		text-align: center;
		background: url($img-path + 'loader.gif') no-repeat 50%;

		img {
			vertical-align: top;
			max-width: 210px;

			@include mq($from: mobile) {
				max-width: none !important;
			}
		}
	}

	&__image-holder {
		display: inline-block;
		vertical-align: top;
		min-width: 180px;
		position: relative;
	}

	&__info {
		font: 500 9px/12px $add-font-family;
		@extend %clearfix;
	}

	&__detail {
		float: left;
		padding: 5px 10px 0 0;
		color: #373833;
		text-align: center;

		a {
			color: inherit;

			&:hover {
				text-decoration: none;
			}
		}

		p {
			margin: 0;
		}
	}

	&__name {
		display: block;
		font-weight: inherit;
	}

	&__detail-note {
		text-transform: uppercase;
		white-space: nowrap;
		color: $base-decor-color-2;
	}

	.price-box {
		display: inline-block;
		vertical-align: top;

		.currency {
			margin: 0 2px 0 0;
			font-size: 17px;
			line-height: 20px;
			position: relative;
			top: 3px;
		}
	}

	&__price-holder {
		float: right;
		line-height: 14px;

		.price-box {
			padding: 0 0 0 8px;
			color: #494949;

			&:after {
				content: '|';
				font-size: 11px;
			}
		}
	}
}