/* quote item */
.quote-item {
	margin: 0 -6px 15px;
	padding: 14px 10px 11px;
	border: 1px solid $base-border-color-2;
	border-width: 1px 0;
	text-align: center;
	background: $base-background-color-4;

	&__quote-holder {
		position: relative;
		margin: 0 15px 17px 20px;
		padding: 0 0 18px;

		@include mq($from: mobile) {
			margin: 0 40px 17px 50px;
		}

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left:0;
			width: 100%;
			height: 1px;
			background-color: #ececed;
			background-image: linear-gradient(to right, #fcfcfc 0%,#fcfcfc 2%,#f2f3f3 12%,#ebeced 49%,#f1f3f3 87%,#fcfcfc 97%,#fcfcfc 100%);
		}
	}

	&__quote {
		display: block;
		position: relative;
		font-style: italic;
		font-size: 14px;
		line-height: 20px;
		color: #727272;

		@include mq($from: mobile) {
			font-size: 16px;
			line-height: 24px;
		}

		&:before,
		&:after {
			content: '';
			display: inline-block;
			position: relative;
			width: 15px;
			height: 13px;
			margin: 0 16px 0 -26px;
			background: url($sprite-path) no-repeat -240px -20px;
		}

		&:after {
			top: 2px;
			margin: 0 -32px 0 18px;
			background-position: -260px -20px;
		}
	}

	&__name-holder {
		padding: 0 10px 0 0;
		text-align: center;
	}

	.rating-item {
		display: inline-block;
		vertical-align: middle;
		margin: 0 4px 5px;
		border-radius: 20px;
		padding: 7px 15px 6px;
		background: #f4f4f4;

		img {
			vertical-align: top;
		}
	}

	&__name {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 5px;
		font-style: normal;
		font-weight: 700;
		font-size: 13px;
		line-height: 16px;
		color: #000;
		color: #53484c;

		&:before {
			content: '-';
			margin: 0 5px 0 0;
		}
	}
}
