/* related-unit */
.related-unit {
	margin: 0 0 15px;
	border-bottom: 1px solid #d8d7d7;

	&:last-child {
		border-bottom: 0;
	}

	&__title {
		margin: 0;
		border-bottom: 1px solid #99b4b2;
		font: 500 13px/16px $add-font-family;
		text-transform: uppercase;
	}

	&__opener {
		display: block;
		padding: 3px 15px 3px 0;
		position: relative;
		color: $base-decor-color-3;

		&:active {
			text-decoration: none;		}

		&:after {
			content: '+';
			position: absolute;
			top: 0;
			right: 0;
			font:500 20px/20px $add-font-family;
		}

		.expanded & {

			&:after {
				content: '-';
			}
		}
	}
}
