/* review unit */
.review-unit {
	padding: 8px 0;
	border-bottom: 1px solid $base-decor-color-10;
	font: 500 11px/13px $add-font-family;
	color: #8e8c8c;

	.reviews-section &:last-child {
		border-bottom: 0;
	}

	&__holder {
		display: table;
		width: 100%;
	}

	&__heading {
		display: table-cell;
		vertical-align: top;
		width: 53px;
		max-width: 53px;
		padding: 0 5px 6px 3px;
		border-right: 1px solid $base-decor-color-10;

		.star-rating {
			margin: 0 0 0 -3px;
		}
	}

	&__name {
		display: block;
		margin: 0 0 6px;
		font: 500 13px/16px $add-font-family;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		color: $base-text-color-2;

		a {
			color: inherit;
		}
	}

	&__date {
		display: block;
		font-size: 12px;
		line-height: 15px;
		color: #8e8c8c;

		.month {
			display: block;
		}
	}

	&__content {
		display: table-cell;
		vertical-align: top;
		padding: 10px 0 0 11px;
		@include word-wrap;
		max-width: 100px; /* need for word wrap, because display: table-cell */

		h2 {
			margin: 0 0 12px;
			font-weight: 700;
			font-size: 12px;
			line-height: 16px;
		}

		p {
			margin: 0;
		}
	}
}
