/* reviews section */
.reviews-section {
	padding: 5px 0 10px 6px;

	&__title {
		margin: 0;
		padding: 0 0 4px;
		font: 500 13px/16px $add-font-family;
		color: $base-text-color-2;
		border-bottom: 1px dotted #6c6b6b;
	}
}

.review-link {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 10px;
	font: 500 12px/14px $add-font-family;
	text-decoration: underline;

	&:active {
		text-decoration: none;
	}
}
