/* review form */
.review-form {
	margin: 0 0 13px;

	.form-row {
		padding: 0 0 9px;

		& + .form-row {
			padding-top: 13px;
		}

		label {
			padding: 0 0 4px;
		}

		.error-message {
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			left: 0;
			height: 25px;

			&__holder {
				padding: 4px 6px 0 9px;
			}
		}
	}

	.vote-row {
		padding-bottom: 16px;

		.error-message {

			&__holder {
				padding: 0;
			}
		}
	}

	.form-field {
		position: relative;

		&_type_inp {

			max-width: 207px;
		}
	}

	.input-text,
	textarea {
		box-sizing: border-box;
		position: relative;
		z-index: 2;
		width: 100%;
		height: 25px;
		margin: 0;
		padding: 4px 8px 5px;
		border: 1px solid #c5c5c5;
		font: 300 12px/14px $add-font-family;
		color: $base-text-color-2;
		background: none;
	}

	textarea {
		height: 123px;
		min-height: 25px;
		padding: 4px 0 0 8px;
		resize: vertical;
	}
}
