/* review item */
.review-item {
	font-size: 0;
	line-height: 0;

	> * {
		font: 500 11px/13px $add-font-family;
	}

	.star-rating {
		display: inline-block;
		vertical-align: middle;
		margin: 0 5px 0 0;

		img {
			vertical-align: top;
		}
	}

	&__qty {
		display: inline-block;
		vertical-align: middle;
		color: #515151;
	}
}
