/* scroll slider */
.scroll-slider {
	position: relative;
	padding: 0 0 15px;
	white-space: nowrap;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	&_products {
		margin-left: -15px;
		margin-right: -15px;

		.scroll-slider__item {
			width: 38%;
		}
	}

	&_related {
		margin: 0 -20px;
		padding-bottom: 11px;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		white-space: normal;
	}
}
