/* search form */
.search-form {
	position: relative;
	height: 35px;
	margin: 0;
	padding: 0 40px 0 0;
	border: 1px solid $base-border-color;
	background: $COLOR-WHITE;

	input[type="text"] {
		box-sizing: border-box;
		display: block;
		width: 100%;
		height: 35px;
		padding: 8px 10px 9px;
		border: 0;
		font-size: 14px;
		line-height: 18px;
		background: none;
		outline: none;
	}

	.btn-submit {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 35px;
		padding: 0;
		border: 0;
		border-left: 1px solid $base-border-color;
		font-size: 14px;
		line-height: 35px;
		background: none;
		color: $base-text-color-2;
	}

	.ui-autocomplete {
		left: -1px !important;
		width: 100% !important;
	}
}
