/* search panel */
.search-panel {
	padding: 6px 5px 6px;
	background: $base-background-color-2;

	&__holder {
		display: table;
		width: 100%;
	}

	.offer-item {
		float: left;
		padding: 0 6px 0 0;

		img {
			vertical-align: top;
			max-width: none !important;
		}
	}

	.search-holder {
		display: table-cell;
		vertical-align: top;
		width: 100%;
	}
}
