/* search nav */
.search-nav {

	&__title {
		display: block;
		margin: 0 0 20px;
		font: 500 12px/14px $add-font-family;
		color: $base-text-color-2;
		text-decoration: underline;
		text-align: center;
	}

	&__list {
		margin: 0;
		padding: 0 8px;
		text-align: justify;

		&:after {
			content: '';
			display: inline-block;
			vertical-align: top;
			width: 100%;
			height: 0;
			font-size: 0;
			line-height: 0;
		}
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		max-width: 30%;
		text-align: center;
	}

	&__link {
		display: block;
		color: $base-decor-color-7;
	}

	&__ttl {
		display: block;
		font: 500 11px/14px $add-font-family;
		text-decoration: underline;
	}

	&__image {
		vertical-align: top;
		margin: 0 0 10px;
	}
}
