.selectize-control.single {

  .selectize-input {
    display: block;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 41px;
    padding: 11px 8px 10px;
    font: 300 15px/18px $add-font-family;
    color: $base-text-color-2;
    border: 1px solid $base-border-color-3;
    border-radius: 1px;
    overflow: hidden;

    &.focus {
      background: #f5f1f0;
    }
  }
}

.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 1px !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  outline: none;
}

.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
}

.selectize-dropdown {
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2px 0 0;
  border: 1px solid $base-decor-color-3;
  border-radius: 3px;
  font: 300 15px/18px $add-font-family;
  text-transform: uppercase;
  color: $base-text-color-2;
  background: #f5f1f0;
}

.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 600px;
}

.selectize-dropdown {

   [data-selectable] {
    padding: 11px 10px;

    & + [data-selectable] {
      border-top: 1px solid $base-decor-color-10;
    }

    &.active {
      background: $base-decor-color-10;
    }
   }
}