/* select grid */
.select-grid {
	position: relative;
	border-bottom: 1px dotted $text-color-7;
	@extend %clearfix;

	.step-box & {
		margin-left: -10px;
		margin-right: -10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	&__item {
		float: left;
		box-sizing: border-box;
		width: 50%;
		padding-right: 4px;
		padding-bottom: 20px;

		& + & {
			padding-left: 5px;
			padding-right: 0;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				margin-left: -5px;
				border-left: 1px dotted $text-color-7;
			}
		}
	}

	&__check-item {
		padding-top: 10px;
		text-align: right;
	}

	.input-row {
		margin-top: 19px;
	}
}