.select-unit {
	position: relative;
	height: 39px;
	border: 1px solid $base-border-color-3;
	border-radius: 1px;
	overflow: hidden;
	background: $base-background-color-5;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 9px;
		width: 0;
		height: 0;
		margin: auto;
		border-style: solid;
		border-width: 8px 6px 0;
		border-color: $text-color-2 transparent;
	}

	&__holder {
		height: 100%;
		margin: 0 -50px 0 0;
	}

	select {
		box-sizing: border-box;
		width: 100%;
		height: 39px;
		border: 0;
		padding: 2px 0 0 7px;
		font: 300 15px/39px $add-font-family;
		color: $text-color-7;
		text-transform: uppercase;
		background: none;
		outline: none;

		.input--filled & {
			color: $base-text-color-2;
		}
	}

	&.disabled {
		border-color: $color-disabled;

		&:before {
			border-color: $color-disabled transparent;
		}

		select {
			color: $color-disabled;
		}
	}
}