/* select block */
.select-block {
	padding-bottom: 12px;

	& + & {
		padding-top: 6px;
	}

	&__title {
		margin: 0 0 8px;
		font-weight: 500;
		font-size: 13px;
		line-height: 16px;
		text-transform: uppercase;
		color: $text-color-2;
	}
}