.shipping-name {
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 4px 0 0;
	padding: 0 26px 0 0;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: $text-color-2;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		right: 0;
		width: 17px;
		height: 15px;
		margin: -7px 0 0;
		background: url($sprite-path) no-repeat -604px -88px;
	}
}