/* signin form */
.signin-form {
	$signin-text-color: #8b8b8b;
	$signin-border-color: #e7e6e6;
	$signin-color: #909090;

	margin: 0;
	padding: 3px 0 15px;
	font: 500 14px/22px $add-font-family;
	color: $signin-color;

	.form-field {

		&_password {

			&:before {
				content: '';
				position: absolute;
				right: 9px;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 24px;
				height: 13px;
				background: url($sprite-path) no-repeat -494px -126px;
			}
		}

		.input-text {
			padding-right: 40px;
		}
	}

	.input--filled {

		.form-field {

			&_password {

				&:before {
					background-position: -494px -142px;
				}
			}
		}
	}

	.check-listing {
		padding: 8px 0 0;
		color: $text-color-2;

	}

	&__options {
		margin: -10px 0 0;
		padding: 0 0 17px;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: $base-text-color-2;

		.link {
			float: right;
			margin: 0 0 0 5px;
			color: $base-decor-color-6;
		}
	}

	&__options-item {
		padding: 12px 0 0;
		@extend %clearfix;

		&:first-child {
			padding-top: 0;
		}
	}

	.pass-box {

		.input-row {
			margin-top: 15px;
		}
	}
}
