/* size list */
.size-list {
	margin: 0;
	padding: 0;
	text-align: center;
	@extend %clearfix;

	&__item {
		list-style: none outside;
		float: left;
		width: 33.333%;
	}

	&__text {
		font: 500 12px/14px $add-font-family;
		color: $base-text-color;
	}

	img {
		vertical-align: top;
		width: 100%;
	}
}
