/* slogan block */
.slogan-block {
	padding: 5px 0;
	font-weight: 600;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	color: $base-decor-color-2;

	h1 {
		margin: 0;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
		color: $COLOR-BLACK;
	}

	p {
		margin: 0;
	}

	a {
		font-style: italic;
		color: $base-decor-color-5;
	}
}
