/* small faq list */
.small-faq-list {
	padding: 3px 0 0;

	&__item {
		padding: 0 0 1px;
		font-weight: 500;
		font-size: 13px;
		line-height: 18px;
		color: $base-text-color-2;
		@extend %clearfix;

		& + & {
			padding-top: 13px;
		}
	}

	&__title {
		margin: 0 0 13px;
		font-weight: 500;
		font-size: 15px;
		line-height: 18px;
		color: $base-decor-color-2;
	}

	p {
		margin: 0 0 6px;
	}
}
