/* sold out */
.sold-out {
	padding: 0 0 17px;
	font: 12px/14px $add-font-family;
	color: #6d6969;
	@extend %clearfix;

	&__title {
		display: block;
		margin: 0 0 13px 5px;
		font-weight: 300;
		opacity: 0.4;
	}

	&__image {
		float: left;
		max-width: 86px;
		margin: 0 25px 0 0;
		opacity: 0.3;

		img {
			vertical-align: top;
		}
	}

	&__content {
		text-align: center;
		overflow: hidden;
	}
}

.sold-out-text {
	display: inline-block;
	vertical-align: top;
	margin: 13px 0 0;
	padding: 9px 16px;
	border: 1px dotted #2a9a90;
	text-align: center;

	&__ttl {
		display: block;
		margin: 0 0 5px;
		font: 500 12px/14px $add-font-family;
		text-transform: uppercase;
		color: #f00;
		opacity: 0.6;
	}

	.btn-trash {
		opacity: 0.5;
	}
}
