/* sorting panel */
.sorting-panel {
	position: relative;
	min-height: 33px;
	z-index: 99;
	margin: 0 0 7px;

	&__holder {
		width: 100%;
		@extend %clearfix;

		&.state-sticky {
			top: 0;
			left: 5px !important;
			right: 5px !important;
			width: auto !important;
		}
	}
}

.btn-sort {
	position: relative;
	float: left;
	min-height: 33px;
	width: 50%;
	font: 500 12px/16px $add-font-family;
	text-align: center;
	color: #fff;
	overflow: hidden;
	background: $base-decor-color-5;

	& + & {
		float: right;
		margin-right: -1px;
	}

	&:active {
		text-decoration: none;
	}

	@include mq($from: mobile) {
		font-size: 14px;
		line-height: 18px;
	}

	&__wrap {
		display: block;
		padding: 4px 6px;

		@include mq($from: mobile) {
			padding: 4px 6px 0 12px;
		}
	}

	&__select {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.01;
		color: $base-decor-color-5;
	}

	&__ttl {
		display: inline-block;
		vertical-align: top;
		position: relative;

		&_name_sort {
			margin: 0 21px 0 0;
			padding: 0 0 0 21px;

			&:before {
				content: '';
				position: absolute;
				top: 4px;
				left: 0;
				width: 18px;
				height: 7px;
				background: url($sprite-path) no-repeat -160px 0;
			}
		}

		&_name_filter {
			margin: 0 13px 0 0;
			padding: 0 0 0 13px;

			&:before {
				content: '';
				position: absolute;
				top: 2px;
				left: 0;
				width: 10px;
				height: 12px;
				background: url($sprite-path) no-repeat -186px 0;
			}
		}
	}

	&__text {
		display: block;
		margin: -3px 0 0;
		font-weight: 300;
		font-size: 10px;
		line-height: 12px;
		color: #9cd6f9;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
