/* spec list */
.spec-list {
	$root: '.spec-list';

	display: table;
	width: 100%;
	margin: 0 0 10px;

	&__item {
		display: table-row;
		width: 100%;
		margin: 0;
	}

	&__term {
		display: table-cell;
		vertical-align: top;
		width: 1px;
		white-space: nowrap;
		float: none;
		padding: 12px 6px 0 0;
		font-weight: normal;
		text-transform: uppercase;
		color: $base-text-color-2;

		@include mq($from: mobile-wide) {
			padding-top: 19px;
		}

		#{$root}__item:first-child & {
			padding-top: 0;
		}
	}

	&__desc {
		display: table-cell;
		vertical-align: top;
		padding: 12px 0 0;

		@include mq($from: mobile-wide) {
			padding-top: 19px;
		}

		#{$root}__item:first-child & {
			padding-top: 0;
		}
	}
}