/* star rating */
.star-rating {
	position: relative;
	width: 60px;
	height: 11px;
	@include hide-text;
	background: url($img-path + 'sprite-stars.png') repeat-x;

	&__inner {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		font-size: 0;
		line-height: 0;
		@include hide-text;
		background: url($img-path + 'sprite-stars.png') repeat-x 0 -14px;
	}

	&_type_review {
		width: 55px;
		height: 11px;
		background: url($img-path + 'sprite-stars-02.png') repeat-x;

		.star-rating__inner {
			background: url($img-path + 'sprite-stars-02.png') repeat-x 0 -14px;
		}
	}
}
