/* status unit */
.status-unit {
	padding: 0 0 18px;
	font: 500 12px/14px $add-font-family;
	text-align: center;

	&__title {
		margin: 0;
		font-size: 11px;
		text-transform: uppercase;
		color: #3b3b3b;

		dt {
			float: none;
			display: inline-block;
			padding: 0;
			font-weight: inherit;
		}

		dd {
			display: inline-block;
		}
	}

	&__note {
		font-style: normal;
		color: $color-error;
	}

	&__item {
		margin: 0;
		color: $base-decor-color-3;

		dt {
			float: none;
			display: inline-block;
			padding: 0;
			font-weight: inherit;
		}

		dd {
			display: inline-block;
		}
	}

	.more-link {
		text-decoration: underline;
		color: $base-decor-color-3;

		&:active {
			text-decoration: none;
		}
	}
}
