/* status panel */
.status-panel {
	margin: 0 -5px 13px;
	padding: 8px 15px 6px;
	border-bottom: 2px solid #d0d2cf;
	font: 14px/18px $add-font-family;
	color: $base-text-color-2;
	text-align: center;
	background: #faffde;

	p {
		margin: 0;
	}

	.my-orders-heading + & {
		margin-top: -20px;
	}
}