/* steps form */
.steps-form {
	margin: 0;
	padding: 1px 0 0;

	&__buttons {
		.or {
			display: block;
			padding: 2px 0 16px;
			text-align: center;
			color: $text-color-2;
		}
	}

	.step-box__title + & {
		margin-top: -18px;
	}

	.form-note {
		padding: 3px 0 0;
		font-size: 9px;
		line-height: 14px;

		p {
			margin: 0;
		}
	}

	.form-row {
		padding: 0 0 17px;

		&.input-row {
			padding-bottom: 0;
		}
	}

	.details-unit {
		margin-bottom: 4px;
		// border: 0;

		// &__heading {
		// 	padding-top: 5px;
		// }

		.input-row:first-child {
			margin-top: 13px;
		}
	}
}
