/* step box */
.step-box {
	margin: 0 0 14px;
	padding: 16px 10px  5px;
	box-shadow: 1px 1px 2px #cacaca;
	font: 300 13px/21px $add-font-family;
	color: $text-color-2;
	background: #fff;

	&__heading {
		position: relative;
		margin: 0 0 13px;
		padding: 0 25px;
		text-align: center;

		.back-link {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__head-title {
		margin: 0;
		font-weight: 700;
		font-size: 17px;
		line-height: 20px;
	}

	p {
		margin: 0 0 18px;
	}

	&__note {
		padding: 0 0 10px;
		color: $base-decor-color-6;

		p {
			margin: 0;
		}
	}

	.details-unit {
		margin-left: -10px;
		margin-right: -10px;
		// border-top: 2px dotted #b4b4b4;

		&__heading {
			// padding: 18px 8px 13px;
		}

		&__opener {
			border: 0;

			&:active {
				text-decoration: none;
			}
		}

		&__content {
			padding: 2px 10px 6px;
		}
	}

	&__title {
		margin: 0 0 10px;
		font-weight: 700;
		font-size: 15px;
		line-height: 21px;
		color: $base-decor-color-2;

		&_warning {
			color: $base-decor-color-6;
		}
	}

	&__title-note {
		margin: -7px 0 0;
		padding: 0 0 15px;
		font-size: 13px;
		line-height: 16px;
		color: $base-decor-color-6;

		p {
			margin: 0;
		}
	}

	&__done {
		padding: 14px 0 11px;
		font-size: 15px;
		line-height: 18px;
		color: $base-text-color-2;
		text-transform: uppercase;

		p {
			margin: 0 0 5px;
		}
	}

	&__done-text {
		padding: 0 0 17px;
	}

	&__btn-row {
		text-align: center;
	}

	&_head {
		font-size: 13px;
		line-height: 18px;
		padding-top: 18px;
		text-align: center;

		.details-unit {
			border-top: 2px dotted #b4b4b4;

			&__heading {
				padding: 18px 8px 13px;
			}
		}

		p {
			margin: 0 0 5px;
		}
	}

	&__finally {
		padding: 4px 0 0;
		font-size: 11px;
		line-height: 16px;

		p {
			margin: 0;
		}
	}
}
