/* step info list */
.step-info {
	margin: 0;
	padding: 0 5px;
	color: #53484c;
	counter-reset: stepCounter;

	@include mq($from: mobile) {
		padding: 0 16px;
	}

	li {
		list-style: none outside;
		position: relative;
		padding: 0 0 22px 37px;

		&:last-child {
			padding-bottom: 14px;
		}

		&:before {
			counter-increment: stepCounter;
			content: counter(stepCounter);
			position: absolute;
			top: 0;
			left: 0;
			width: 22px;
			height: 21px;
			padding: 2px 0 0;
			border-radius: 11px;
			font-weight: 500;
			font-size: 15px;
			line-height: 17px;
			color: #fff;
			text-align: center;
			background: #15b2aa;
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 30px;
			width: 21px;
			height: 10px;
			background: url($sprite-path) no-repeat -174px -20px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}
	}
}
