/* sticky item */
.sticky-item {

	&.state-sticky {
		position: fixed;
		z-index: 1000;
		width: 100%;

		.sticky-up & {
			left: 0;
			top: 0;
		}

		.sticky-down & {
			bottom: 0;
			left: 0;
		}
	}
}