/* tabs list */
.tabs-list {
	$self: '.tabs-list';

	display: table;
	width: 100%;
	height: 22px;
	margin: 0 0 14px;
	padding: 0;
	border-bottom: 2px solid #9b9999;
	font: 500 11px/14px $add-font-family;
	text-align: center;

	&__item {
		list-style: none outside;
		display: table-cell;
		height: 100%;
		padding: 0 0 0 4px;
		vertical-align: middle;

		&:first-child {
			padding-left: 0;
		}
	}

	&__link {
		display: block;
		position: relative;
		height: 100%;
		color: $base-text-color-2;
		background: $base-border-color-2;
		white-space: nowrap;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		> span {
			display: inline-block;
			vertical-align: middle;
			padding: 4px 4px;
			white-space: normal;

			#{$self}__item_type_try & {

				&:before {
					content: '';
					display: inline-block;
					vertical-align: top;
					position: relative;
					top: 1px;
					width: 16px;
					height: 11px;
					margin: 0 6px 0 0;
					background: url($sprite-path) no-repeat -120px -80px;
				}
			}
		}

		#{$self}__item_state_active & {
			background: #b3e8e3;

			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 11px;
				width: 19px;
				height: 11px;
				margin: -1px 0 0;
				background: url($sprite-path) no-repeat -40px -118px;
			}
		}

		#{$self}__item_state_active:last-child & {

			&:after {
				left: auto;
				right: 11px;
			}
		}
	}
}
.tabs-list {
	$self: '.tabs-list';

	display: table;
	width: 100%;
	height: 22px;
	margin: 0 0 14px;
	padding: 0;
	border-bottom: 2px solid #9b9999;
	font: 500 11px/14px $add-font-family;
	text-align: center;

	&__item {
		list-style: none outside;
		display: table-cell;
		height: 100%;
		padding: 0 0 0 4px;
		vertical-align: middle;

		&:first-child {
			padding-left: 0;
		}
	}

	&__link {
		display: block;
		position: relative;
		height: 100%;
		color: $base-text-color-2;
		background: $base-border-color-2;
		white-space: nowrap;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}

		> span {
			display: inline-block;
			vertical-align: middle;
			padding: 4px 4px;
			white-space: normal;

			#{$self}__item_type_try & {

				&:before {
					content: '';
					display: inline-block;
					vertical-align: top;
					position: relative;
					top: 1px;
					width: 16px;
					height: 11px;
					margin: 0 6px 0 0;
					background: url($sprite-path) no-repeat -120px -80px;
				}
			}
		}

		#{$self}__item_state_active & {
			background: #b3e8e3;

			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 11px;
				width: 19px;
				height: 11px;
				margin: -1px 0 0;
				background: url($sprite-path) no-repeat -40px -118px;
			}
		}

		#{$self}__item_state_active:last-child & {

			&:after {
				left: auto;
				right: 11px;
			}
		}
	}
}
