/* tables-section */
.tables-section {
	padding: 5px 0 10px;

	&__heading {
		margin: 0 0 18px;
		padding: 4px 10px 3px 15px;
		background: #d8d7d7;
	}

	&__title {
		margin: 0;
		font: 500 12px/14px $add-font-family;
		color: $base-text-color-2;
	}
}
