/* terms unit */
.terms-unit {
	position: relative;
	margin: 0 0 28px;
	overflow: hidden;

	&__plus {
		position: absolute;
		top: 22px;
		left: 106px;
		width: 18px;
		height: 18px;
		border: 7px solid #fff;
		border-width: 7px 0;
		margin: 0 0 0 -9px;
		background: #fff;
		@include hide-text;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 2px;
			text-indent: 0;
			background: $base-text-color-2;
		}

		&:after {
			width: auto;
			height: 2px;
		}
	}
}

.term {
	padding: 11px 0 7px;

	&_first {
		float: left;
		width: 106px;
	}

	&_second {
		padding-top: 9px;
		padding-left: 30px;
		border-left: 1px solid #cccaca;
		overflow: hidden;
	}

	&__title {
		min-height: 26px;
		padding: 0 0 7px;
		font-weight: 500;
		font-size: 11px;
		line-height: 14px;
		color: $base-text-color-2;

		p {
			margin: 0;
		}
	}

	&__ttl {
		display: block;
		margin: 0 0 -2px;
		font-weight: 500;
		font-size: 11px;
		line-height: 14px;
		text-transform: uppercase;
	}

	.price-box {
		font-weight: 500;
		font-size: 18px;
		line-height: 20px;
		color: $base-decor-color-6;

		&_type_old {
			margin: 0 0 -3px;
			font-size: 14px;
			line-height: 18px;
			color: $text-color-2;
		}
	}
}
