/* term details */
.term-details {
	padding: 11px 0 0;
	overflow: hidden;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-align: right;

	&__holder {
		display: inline-block;
		vertical-align: top;
		min-width: 84px;
		text-align: left;
	}

	&__ttl {
		display: block;
		margin: 0 0 6px;
		font-weight: 500;
		font-size: 11px;
		line-height: 14px;
		text-transform: uppercase;
	}

	&__list {
		margin: 0;
		padding: 0;

		li {
			list-style: none outside;
			padding: 0 0 5px;
		}
	}
}
