/* text unit */
.text-unit {
	padding: 7px 3px 1px;
	font: 500 11px/13px $add-font-family;
	color: $text-color-3;

	h2,
	h3 {
		margin: 0 0 10px;
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: $base-text-color-2;
	}

	h3 {
		margin: 0;
	}

	p {
		margin: 0 0 14px;
	}

	ul {
		margin: 0 0 14px;
		padding: 4px 0 0;

		li {
			list-style: none outside;
			padding: 0 0 5px;
		}
	}
}
