/* thank message */
.thank-message {
	// display: none;
	position: absolute;
	z-index: 999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px 10px 10px;
	background: #000;
	background: rgba(#1c1b1b, 0.9);

	.leave-review & {
		left: -20px;
		right: -20px;
		padding: 20px 24px 10px 17px;
	}

	&__message {
		position: relative;
		border: 1px solid #bfbfbf;
		text-align: center;
		white-space: nowrap;
		background: $base-decor-color-10;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 148px;
			width: 1px;
			margin: 0 0 0 -4px
		}
	}

	&__text {
		display: inline-block;
		vertical-align: middle;
		box-sizing: border-box;
		width: 100%;
		padding: 10px 10px 22px;
		text-align: center;
		font: italic 15px/18px Georgia, 'Times New Roman', 'Times', serif;
		white-space: normal;
		color: #5c5c5c;
	}

	p {
		margin: 0;
	}

	&__ttl {
		display: block;
		margin: 0 0 -2px;
		font-weight: normal;
		font-size: 32px;
		line-height: 34px;
	}

	&__close {
		position: absolute;
		top: -7px;
		right: -8px;
		width: 27px;
		height: 28px;
		border: 0;
		@include hide-text;
		background: url($sprite-path) no-repeat -200px -40px;
	}

	&__buttons {
		padding: 20px 0 0;

		.button {
			border: 2px solid #fff;
			border-radius: 10px;
			background: #92afac;
		}
	}

	.or {
		display: block;
		padding: 0 0 4px;
		font-size: 24px;
		line-height: 26px;
	}
}
