/* total list */
.total-list {
	$root: '.total-list';

	display: table;
	width: 100%;

	&__item {
		display: table-row;
		width: 100%;
		margin: 0;
	}

	&__term {
		display: table-cell;
		vertical-align: top;
		width: 1px;
		white-space: nowrap;
		float: none;
		padding: 14px 6px 0 0;
		font-weight: normal;
		color: $base-text-color-2;

		#{$root}__item:first-child & {
			padding-top: 0;
		}

		#{$root}__item-total & {
			padding-top: 26px;
			text-transform: uppercase;
		}
	}

	&__desc {
		display: table-cell;
		vertical-align: top;
		padding: 14px 0 0;

		#{$root}__item:first-child & {
			padding-top: 0;
		}

		#{$root}__item-total & {
			padding-top: 26px;
		}
	}
}