/* track order */
.track-order {
	padding: 14px 0 0;

	&__steps {
		padding: 0 5%;

		@include mq($from: mobile-wide) {
			padding-left: 10%;
			padding-right: 10%;
		}
	}

	.btn-track {
		display: block;
		position: relative;
		margin: 0 0 44px;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			margin: 4px auto 0;
			width: 23px;
			height: 33px;
			background: url($sprite-path) no-repeat -624px -28px;
		}

		&:last-child {
			margin-bottom: 34px;

			&:after {
				display: none;
			}
		}
	}
}