/* trial list */
.trial-list {
	margin: 0;
	padding: 0;

	&__item {
		list-style: none outside;
		position: relative;
		display: table;
		width: 100%;
		height: 90px;
		border-bottom: 1px solid #c8c8c8;

		&_empty {

			&:before {
				left: 15px;
			}

			.trial-popup {

				&:before {
					display: none;
				}
			}
		}

		.trial-popup {
			position: absolute;
			z-index: 99;
			top: 50%;
			left: 10px;
			right: 45px;
			margin: -20px 0 0;
			font-weight: 500;

			&:before {
				content: '';
				position: absolute;
				top: 13px;
				left: 100%;
				width: 7px;
				height: 11px;
				margin: 0 0 0 -1px;
				background: url($sprite-path) no-repeat -352px -146px;
			}

			.trial-note-buttons {
				padding: 15px 0 5px;
			}
		}
	}

	&__image {
		display: table-cell;
		vertical-align: middle;
		width: 110px;
		padding: 5px;
		text-align: center;

		img {
			max-width: none;
			vertical-align: top;
		}
	}

	&__text {
		display: table-cell;
		vertical-align: middle;
		padding: 10px 44px 10px 0;

		p {
			margin: 0;
		}
	}

	&__ttl {
		display: block;
		margin: 0 0 5px;
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;

		a {
			color: inherit;
		}
	}

	&__delete {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 20px;
		margin: auto;
		width: 13px;
		height: 13px;
		border: 0;
		@include hide-text;
		background: url($sprite-path) no-repeat -264px -116px;
		outline: none;
	}

	&__number-cell {
		display: table-cell;
		vertical-align: middle;
		width: 100px;
		border-right: 1px solid #c8c8c8;
		background: $base-background-color-2;
	}

	&__number {
		position: relative;
		display: block;
		padding: 0 0 0 14px;
		font-weight: 300;
		font-size: 30px;
		line-height: 34px;
		color: $text-color-6;
		overflow: hidden;

		&:after {
			content: '';
			position: absolute;
			left: 41px;
			right: 0;
			height: 34px;
			background: url($sprite-path) no-repeat -532px -88px;
		}
	}

	&__add-holder {
		display: table-cell;
		vertical-align: top;
	}
}
