/* trial popup */
.trial-popup {
	position: relative;
	padding: 10px;
	border: 1px solid #89c6c0;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	text-transform: none;
	text-align: center;
	color: $text-color-6;
	white-space: normal;
	background: #fff;

	&__close {
		position: absolute;
		top: -10px;
		right: -10px;
		width: 25px;
		height: 25px;
		border: 1px solid #89c6c0;
		border-radius: 13px;
		@include hide-text;
		background: #fff;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 13px;
			height: 13px;
			text-indent: 0;
			background: url($sprite-path) no-repeat -264px -116px;
		}
	}

	p {
		margin: 0;
	}
}
