/* trial note buttons */
.trial-note-buttons {
	padding: 0 0 10px;
	@extend %clearfix;

	&__btn {
		float: left;
		position: relative;
		padding: 6px 9px;
		border-radius: 2px;
		font-weight: 500;
		background: #e0f0ef;

		&_no,
		&_cancel {
			padding-left: 30px;
			color: #000;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 2px;
				left: 11px;
				margin: auto;
				width: 10px;
				height: 10px;
				background: url($sprite-path) no-repeat -280px -138px;
			}
		}

		&_add,
		&_delete {
			float: right;
			padding-left: 27px;
			text-transform: uppercase;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 2px;
				left: 10px;
				margin: auto;
				width: 12px;
				height: 12px;
				background: url($sprite-path) no-repeat -294px -138px;
			}
		}

		&_cancel,
		&_delete {
			min-width: 60px;
			padding: 6px 15px;

			&:before {
				display: none;
			}
		}
	}
}
