/* trial panel */
.trial-panel {
	position: fixed;
	z-index: 99;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 12px 10px 10px;
	box-shadow: 0 0 15px rgba(#000, 0.25);
	font: 300 14px/18px $add-font-family;
	color: #fff;
	background: #1a1c21;

	&.hidden {
		display: none;
	}

	&__btn {
		float: right;
		margin: 0 0 0 5px;
		padding: 6px;
		font: 500 14px/18px $add-font-family;
		text-transform: uppercase;
		color: #fff;
		background: $base-decor-color;

		&:active {
			text-decoration: none;
		}
	}

	&__text-holder {
		padding: 0 0 0 50px;
		overflow: hidden;
	}

	&__qty {
		float: left;
		position: relative;
		z-index: 1;
		width: 30px;
		height: 24px;
		margin: 0 0 0 -50px;
		padding: 6px 0 0;
		font: 700 16px/18px $add-font-family;
		text-align: center;
		color: #fff;
		background: $base-decor-color;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 40px;
			height: 100%;
			background: url($sprite-path) no-repeat -450px -88px;
		}
	}

	&__text {
		white-space: nowrap;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 30px;
			margin: 0 0 0 -4px;
		}

		p {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			white-space: normal;
		}
	}

	&__ttl {
		font-weight: 500;
		text-transform: uppercase;
		color: $base-decor-color;
	}

	&__cart {
		border: 1px solid #000;
	}
}
