/* trial checkout */
.trial-checkout {
	padding: 0 4px;

	&__checkout {
		margin: 0 0 32px;
		font: 300 17px/22px $add-font-family;
		color: $text-color-3;
		text-align: center;
		color: $text-color-3;
	}

	&__step {
		border: 1px solid #c8c8c8;
		box-shadow: 0 2px 3px -1px rgba(#000, 0.2);
		border-radius: 2px;
		background: #fff;

		&_passed {
			padding: 0 20px 15px;
			border: 0;
			box-shadow: none;
			background: none;
			font-weight: 300;
			font-size: 14px;
			line-height: 18px;
			text-align: left;

			& + & {
				padding-top: 26px;
				border-top: 1px solid #c8c8c8;
			}

			@extend %clearfix;
		}
	}

	&__step-content {
		padding: 27px 20px 18px;
	}

	&__ttl {
		margin: 0 -10px 20px;
		font-weight: 300;
		font-size: 17px;
		line-height: 22px;
		color: #000;
	}

	&__form {
		padding: 0 0 18px;
		text-align: left;

		&:last-child {
			padding-bottom: 0;
		}

		.input-text {
			box-sizing: border-box;
			width: 100%;
			height: 40px;
			padding: 9px 10px;
			border: 1px solid #c9c9c9;
			box-shadow: 0 3px 10px rgba(#000, 0.05) inset;
			font: 300 18px/20px $add-font-family;
			color: #000;

			// @include placeholder {
			// 	color: $base-border-color-4;
			// }

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				display: none;
				-webkit-appearance: none;
			}
		}

		.input-row {

			&__label {
				margin: 10px 0 0;
				text-transform: none;
				font-weight: 300;
				font-size: 18px;
				line-height: 20px;
				color: $base-border-color-4;
			}
		}
	}

	.trial-buttons {
		padding: 29px 20px 20px;
	}

	&__edit-link {
		float: right;
		margin: 0 0 0 10px;
		font-weight: 500;
	}

	&__passed-text {
		overflow: hidden;

		p {
			margin: 0;
		}
	}
}
