/* trial checkout info */
.trial-checkout-info {
	padding: 0 5px 20px;
	font: 300 18px/24px $add-font-family;
	text-align: center;
	color: $text-color-3;

	&__more {
		font-size: 14px;
		line-height: 18px;
	}

	p {
		margin: 0 0 15px;
	}
}
