/* trial add list */
.trial-add-list {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	&__item {
		position: relative;
		min-height: 44px;
		padding: 0 10px 0 49px;
		list-style: none outside;
		white-space: nowrap;

		& + & {
			border-top: 1px solid $base-background-color-2;
		}

		&_sel {
			padding-right: 55px;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 13px;
				width: 24px;
				height: 25px;
				margin: -12px 0 0;
				background: url($sprite-path) no-repeat -498px -88px;
			}
		}

		&_add {

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 22px;
				width: 12px;
				height: 12px;
				margin: -6px 0 0;
				background: url($sprite-path) no-repeat -264px -136px;
			}
		}
	}

	&__text {
		white-space: nowrap;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 44px;
			margin: 0 0 0 -4px;
		}

		> * {
			white-space: normal;
		}
	}

	&__link {
		display: inline-block;
		vertical-align: middle;
	}

	&__help-link {
		position: absolute;
		top: 50%;
		right: 10px;
		width: 38px;
		height: 31px;
		margin: -16px 0 0;
		@include hide-text;
		background: url($sprite-path) no-repeat -450px -124px;
	}

	.trial-popup {
		position: absolute;
		z-index: 10;
		top: 5px;
		left: -90px;
		right: 55px;
	}
}
