/* trial cart */
.trial-cart {
	margin: -3px 0 20px;
	padding: 0 4px;
	font: 300 12px/14px $add-font-family;

	&__heading {
		position: relative;
		padding: 0 0 12px;
		@extend %clearfix;

		.btn-trash {
			float: right;
			margin: 0 0 0 10px;
		}

		.trial-popup {
			position: absolute;
			z-index: 99;
			top: 0;
			left: 15px;
			right: 30px;
			font-weight: 500;

			&:before {
				content: '';
				position: absolute;
				top: 8px;
				left: 100%;
				width: 7px;
				height: 11px;
				margin: 0 0 0 -1px;
				background: url($sprite-path) no-repeat -352px -146px;
			}
		}

		.trial-note-buttons {
			padding: 15px 0 0;
		}
	}

	&__ttl {
		display: block;
		padding: 7px 0 0;
		font: 500 14px/18px $add-font-family;
		color: $base-input-border-color;
		overflow: hidden;
	}

	&__qty {
		color: #000;
	}

	&__cart {
		border: 1px solid #c8c8c8;
		box-shadow: 0 2px 3px -1px rgba(#000, 0.2);
		border-radius: 2px;
		background: #fff;
	}
}
