/* trial buttons */
.trial-buttons {
	margin: -1px 0 0;
	padding: 10px 10px 5px;
	border-top: 1px solid #c8c8c8;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	background: #e0f0ef;

	.btn-save {
		margin: 0 0 18px;
		border: 0;
		border-radius: 0;
		box-shadow: 0 1px 1px rgba(#000, 0.2);
		font-size: 14px;

		&:active {
			text-decoration: none;
		}
	}

	p {
		margin: 0 0 12px;
	}

	&__popup {
		display: none;
		overflow: hidden;
	}

	&__note {
		position: relative;
		margin: 0 0 15px;
		padding: 11px 15px 5px;
		border: 1px solid #89c6c0;
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
		color: $text-color-6;
		background: #fff;

		&:before {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			margin: -1px auto 0;
			width: 10px;
			height: 7px;
			background: url($sprite-path) no-repeat -336px -146px;
		}
	}
}
