/* ui datepicker */
.ui-datepicker {

	&-header {
		position: relative;
		margin: 0 6px 0 5px;
		padding: 10px 20px;
	}

	&-prev,
	&-next {
		position: absolute;
		top: 50%;
		left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 9px 6px 0;
		border-color: transparent $base-decor-color-6;
		margin: -6px 0 0;
		@include hide-text;
	}

	&-next {
		left: auto;
		right: 0;
		border-width: 6px 0 6px 9px;
	}

	&-title {
		text-align: center;
		font-weight: 700;
		font-size: 15px;
		line-height: 18px;
		color: $base-text-color-2;
	}

	&-calendar {
		width: 100%;
		border-collapse: collapse;
		margin: 0;
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
		color: $text-color-2;

		td,
		th {
			padding: 0;
			border: 11px solid transparent;
			border-width: 10px 11px;
			text-align: center;
		}

		thead {

			th {
				border-width: 4px 11px;
				font-weight: 700;
				font-size: 11px;
				color: $text-color-2;
			}
		}

		tbody {

			tr:first-child {

				td {
					border-top-width: 7px;
				}
			}
		}

		.ui-state-default {
			display: block;
			height: 26px;
			line-height: 26px;
			color: inherit;
			border: 1px solid $base-border-color-4;
			background: $base-background-color-5;

			&:active {
				text-decoration: none;
			}
		}

		.ui-datepicker-unselectable {

			.ui-state-default {
				color: $text-color-7;
				border-color: rgba($base-border-color-4, 0.1);
				background: rgba($base-background-color-5, 0.1);
			}
		}

		.state-booked {

			.ui-state-default {
				border-color: #dc000f;
				background: #dc000f;
				color: #fff;
			}
		}

		.ui-state-active {
			margin: -2px;
			padding: 3px 0;
			border: 0;
			font-size: 14px;
			font-weight: 700;
			color: #fff;
			background: $text-color-2;
		}
	}
}
