/* uploaded unit */
.uploaded-unit {
	padding: 0 0 12px;
}

.uploaded-box {
	margin: 0 0 4px;
	border: 5px solid #fff;

	img {
		vertical-align: top;
		width: 100%;
		height: auto;
	}
}

.upload-control {
	@extend %clearfix;

	&__btn-item {
		float: left;
		box-sizing: border-box;
		width: 50%;
		padding: 0 5px 0 0;

		& + & {
			padding: 0 0 0 5px;
		}
	}
}

.upload-btn {
	display: block;
	box-sizing: border-box;
	position: relative;
	width: 100%;
	padding: 8px 8px 8px 52px;
	border: 1px solid $base-decor-color-3;
	font: 700 10px/12px $add-font-family;
	text-align: left;
	text-transform: uppercase;
	color: $base-decor-color;
	overflow: hidden;
	background: #fff;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 28px;
		border: 1px dotted #d2d0d0;
		border-width: 0 0 0 1px;
	}

	&_retake {

		&:before {
			content: '';
			position: absolute;
			left: 7px;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 15px;
			height: 16px;
			background: url($sprite-path) no-repeat -320px -110px;
		}
	}

	form {
		margin: 0;
	}

	[type="submit"] {
		position: absolute;
		left: -9999px;
	}

	input[type="file"] {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		margin: 0;
		opacity: 0;
		font-size: 200px;
		direction: ltr;
		cursor: pointer;
	}

	.loader-box {
		position: absolute;
		top: 1px;
		bottom: 1px;
		right: 1px;
	}

	.loader {
		position: absolute;
		right: 4px;
		border-radius: 13px;
		background-color: rgba($base-decor-color, 0.7);
	}

	&_remove {

		&:before {
			content: '';
			position: absolute;
			left: 8px;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 11px;
			height: 13px;
			background: url($sprite-path) no-repeat -320px -130px;
		}
	}
}
