/* upload button */
.upload-button {
	position: relative;
	overflow: hidden;

	input[type="radio"] {
		position: absolute;
		left: -9999px;
	}

	input[type="file"] {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		opacity: 0;
		font-size: 200px;
		direction: ltr;
		cursor: pointer;
	}

	&__btn {
		input[type="radio"]:checked + & {
			background: #000;
		}
	}
}