.user-links-block {
	width: 100%;

	@include mq($from: mobile) {
		width: auto;
		overflow: hidden;
	}
}

.user-links {
	display: table;
	table-layout: fixed;
	width: 100%;
	background: #f9f8f8;

	&__item {
		display: table-cell;
		vertical-align: middle;
		border-left: 1px solid $base-border-color-4;
	}

	&__link {
		display: block;
		position: relative;
		height: 22px;
		padding: 40px 5px 0;
		font-weight: 600;
		font-size: 10px;
		line-height: 10px;
		text-align: center;
		text-transform: uppercase;
		color: #4d4d4d;

		@include mq($from: mobile-wide) {
			height: 18px;
			padding-top: 44px;
		}

		&:active {
			text-decoration: none;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 22px;
			left: 0;
			right: 0;
			margin: auto;

			@include mq($from: mobile-wide) {
				bottom: 18px;
			}
		}

		&_type_track {

			&:before {
				bottom: 22px;
				width: 38px;
				height: 27px;
				background: url($sprite-path) no-repeat -160px -80px;

				@include mq($from: mobile-wide) {
					bottom: 16px;
				}
			}
		}

		&_type_profile {

			&:before {
				width: 31px;
				height: 23px;
				background: url($sprite-path) no-repeat -200px -80px;
			}
		}

		&_type_cart {

			&:before {
				width: 31px;
				height: 31px;
				background: url($sprite-path) no-repeat -240px -80px;
			}
		}
	}

	&__ico-check {
		position: absolute;
		top: 0;
		bottom: 16px;
		left: 38px;
		right: 0;
		margin: auto;
		width: 16px;
		height: 15px;
		background: url($sprite-path) no-repeat -200px -116px;

		@include mq($from: mobile-wide) {
			bottom: 10px;
		}
	}

	&__qty-wrap {
		position: absolute;
		top: 5px;
		left: 0;
		right: 6px;
		text-align: center;
		margin: auto;
	}

	&__qty {
		display: inline-block;
		min-width: 8px;
		height: 16px;
		margin: 0 auto;
		padding: 0 4px;
		border-radius: 8px;
		font-size: 10px;
		line-height: 16px;
		text-align: center;
		color: #fff;
		background: $base-decor-color-6;
	}
}
