/* values list */
.values-list {
	position: relative;
	margin: 0;
	padding: 0;
	font: 500 10px/12px $add-font-family;
	color: $base-text-color-2;
	background: #fff;

	&_type_right-eye {

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 82px;
			height: 82px;
			margin: -41px 0 0 -41px;
			background: url($sprite-path) no-repeat -450px 0;
		}
	}

	&_type_left-eye {

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 82px;
			height: 82px;
			margin: -41px 0 0 -41px;
			background: url($sprite-path) no-repeat -538px 0;
		}
	}

	&__item {
		list-style: none outside;
		position: relative;
		padding: 12px 60px 12px 7px;
		@extend %clearfix;

		& + & {
			border-top: 1px solid #dadada;
		}
	}

	&__select {
		position: absolute;
		right: 7px;
		top: 7px;
		width: 45px;
		border: 1px solid #a9acaa;
		border-radius: 3px;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			right: 6px;
			margin: auto;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 3px 0;
			border-color: $base-decor-color transparent;
		}

		select {
			display: block;
			box-sizing: border-box;
			position: relative;
			width: 78px;
			padding: 5px 50px 4px 3px;
			border: 0;
			font: 500 10px/12px $add-font-family;
			color: $base-text-color-2;
			outline: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: none;
		}
		select::-ms-expand {display: none;}
	}

	&__text {
		display: inline-block;
		vertical-align: middle;
	}
}
