/* view tip */
.view-tip {
	position: absolute;
	z-index: 1;
	top: -15px;
	right: 0;
	width: 110px;
	text-align: center;

	&__decor {
		display: inline-block;
		vertical-align: middle;
		width: 38px;
		height: 19px;
		@include hide-text;
		background: url($sprite-path) no-repeat -120px -96px;
	}

	&__arrow {
		display: inline-block;
		vertical-align: middle;
		margin: 6px 4px 0 0;
		width: 40px;
		height: 24px;
		@include hide-text;
		background: url($sprite-path) no-repeat -120px -118px;
	}

	&__tip {
		display: block;
		margin: -3px 0 0;
		padding: 5px 0 0;
		font-weight: 600;
		font-size: 10px;
		line-height: 10px;
		text-transform: uppercase;
		color: $base-decor-color;
		text-align: center;
	}
}
