/* view cart */
.view-cart {
	$slide-color: #3c958a;
	$slide-color-2: #329084;

	text-align: right;

	&__link {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 0 24px 0 0;
		text-decoration: underline;
		text-align: left;
		font: 500 12px/14px $add-font-family;
		color: #6d6e70;

		.view-cart_state_expanded & {

			&:before {
				content: '';
				position: absolute;
				top: 100%;
				left: 5px;
				width: 0;
				height: 0;
				margin: 4px 0 0;
				border-style: solid;
				border-width: 0 5px 10px;
				border-color: $slide-color transparent;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: -2px;
			right: 0;
			width: 21px;
			height: 16px;
			background: url($sprite-path) no-repeat -240px -116px;
		}
	}

	&__slide {
		position: absolute;
		z-index: 1000;
		left: 0;
		right: 0;
		padding: 18px 0 0;
		margin: -8px 0 0;
	}

	&__close {
		position: absolute;
		right: 7px;
		width: 27px;
		height: 19px;
		margin: -18px 0 0;
		border: 0;
		@include hide-text;
		background: $slide-color;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 12px;
			height: 10px;
			background: url($sprite-path) no-repeat -66px -40px;
		}
	}

	&__content {
		padding: 25px 16px 5px 15px;
		background: rgba($slide-color-2, 0.95);
	}
}
