/* view image */
.view-image {
	position: relative;
	padding: 40px 0 0;
	background: url($img-path + 'loader.gif') no-repeat 50% 50%;

	@include mq($from: mobile) {
		padding-top: 10px;
	}

	.view-image-section & {
		display: none;
	}

	.view-image-section &_state_active {
		display: block;
	}

	&__mask {
		position: relative;

		overflow: hidden;
	}

	&__slideset {
		position: relative;
		overflow: hidden;
		@extend %clearfix;

		img {
			float: left;
			max-width: none !important;
		}
	}

	&__prev,
	&__next {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	&__next {
		left: auto;
		right: 0;
	}
}
