/* vote unit */
.vote-unit {
	margin: 0 -15px 10px 0;
	padding: 0;
	font: 500 12px/14px $add-font-family;
	color: $text-color-3;
	@extend %clearfix;

	&__item {
		list-style: none outside;
		float: left;
		width: 20%;

		&.checked-parent ~ & {
			label {
				&:before {
					background-position: -80px -144px;
				}
			}
		}
	}

	input[type="radio"] {
		position: absolute;
		left: -9999px;
	}

	label {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding: 0 0 0 18px;

		&:before {
			content: '';
			position: absolute;
			top: -1px;
			left: 0;
			width: 15px;
			height: 14px;
			background: url($sprite-path) no-repeat -80px -144px;
		}
	}

	&.checked-general {

		label {
			&:before {
				background-position: -98px -144px;
			}
		}
	}
}
