/* try online */
.vto-block {
	padding: 16px 16px 22px 0;
}
.vto-container {
	margin: 0 auto;

	#upload {
		line-height: 14px;
	}

	#framePanel {
		top: 0;

		img {
			vertical-align: top;
		}
	}
}

.vtolite {
	float: right;
	position: relative;
	overflow: hidden;
	width: 218px;
	padding-right: 20px;
	margin: 0;
}

.preview-error {
	padding: 5px;
}