/* warranty item */
.warranty-item {
	display: inline-block;
	vertical-align: middle;
	margin: -3px 0 0;
	font: 500 12px/14px $add-font-family;
	text-transform: capitalize;
	color: #739af3;

	&__qty {
		display: inline-block;
		vertical-align: middle;
		width: 16px;
		height: 26px;
		margin: 3px 3px 0 0;
		padding: 3px 0 0;
		font-weight: 700;
		color: #fff;
		text-align: center;
		background: url($sprite-path) no-repeat -240px -40px;
	}

	&__text {
		display: inline-block;
		vertical-align: middle;
	}

	&__period {
		display: block;
	}
}
