/* zoom unit */
.zoom-unit {
	position: absolute;
	z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;

	&_state_hidden {
		display: none;
	}

	&__mask-holder {
		height: 100%;
		position: relative;
	}

	&__mask {
		height: 100%;
		margin: 0 40px;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;

		img {
			max-width: none !important;
			width: 100%;
		}
	}

	&__zoom {
		margin-left: 0;
		margin-right: 0;

		img {
			width: auto;
		}
	}

	&__close {
		position: absolute;
		z-index: 1;
		top: 5px;
		right: 8px;
		border: 0;
		width: 19px;
		height: 19px;
		@include hide-text;
		background: url($sprite-path) no-repeat -160px -40px;
	}

	.btn-prev,
	.btn-next {
		position: absolute;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 10px;
		margin: auto;
	}

	.btn-next {
		left: auto;
		right: 10px;
	}

	.bullet-nav {
		position: absolute;
		z-index: 1;
		left: 0;
		bottom: 10px;
		width: 100%;
	}
}
