// import additional files like mixins, variables ...
@import "utils/markup-variables";
@import "utils/markup-mixins";
@import "utils/mq"; // media queries sass mixins

// styles
@import "hacks/fix-rupee-symbol";

.details-unit {

	&__opener {
		white-space: nowrap;
	}
}