@import "utils/markup-variables";
@import "utils/markup-mixins";
@import "utils/mq"; // media queries sass mixins

.search-form {

	input[type="text"] {
		width: 80%;
		height: 18px;
	}
}

.explain-item {

	&__title {

		&:before,
		&:after {
			display: none;
		}
	}
}

.scroll-slider {
	white-space: normal;
	text-align: center;

	&__item {
		margin: 0 0 20px;
	}
}

.product-item {

	.price-box {

		.currency {
			top: 0;
		}
	}
}

.button-choose {

	&:before {
		width: 25px;
		height: 13px;
		border: none;
		background: url($sprite-path) no-repeat -40px -80px;
	}
}

.btn-filter {

	&_type_reset {

		&:before {
			left: -17px;
		}
	}

	&_type_apply {

		&:before {
			left: -19px;
		}
	}
}


.details-item {

	&__decor-link {

		&:after {
			width: 7px;
			height: 8px;
			margin: -3px 0 0;
			border: none;
			background: url($sprite-path) no-repeat -72px -118px;

			.expanded & {
				margin: -1px 0 0;
				width: 8px;
				height: 8px;
				background-position: -62px -118px;
			}
		}
	}
}