@import "utils/markup-variables";
@import "utils/markup-mixins";
@import "utils/mq"; // media queries sass mixins

.scroll-slider {
	white-space: normal;
	text-align: center;

	&__item {
		margin: 0 0 20px;
	}
}

.product-item {

	.price-box {

		.currency {
			top: 0;
		}
	}
}

.button-choose {

	&:before {
		width: 25px;
		height: 13px;
		border: none;
		background: url($sprite-path) no-repeat -40px -80px;
	}
}

.step-info {

	li {
		padding-bottom: 26px;

		&:before {
			line-height: 15px;
		}
	}
}

.filters-list {
	border-collapse: separate;

	li {
		border: 1px solid #9b9999;
		border-width: 1px 1px 1px 0;

		&:first-child {
			border-width: 1px;
		}
	}
}

.filter-tag {

	.filter-text {
		height: 38px;
	}
}

/* tabs list */
.tabs-list {
	display: flex;
	height: auto;

	&__item {
		height: auto;

		align-self: stretch;
		flex-grow: 1;

		display: flex;
	}

	&__link {
		height: auto;

		align-content: stretch;
		flex-grow: 1;

		display: flex;

		&:before {
			display: none;
		}

		> span {
			margin: auto;
		}
	}
}

/* sorting panel */
.sorting-panel {
	min-height: 53px;
}

.btn-sort {
	padding-top: 10px;
	padding-bottom: 10px;

	&__select {
		color: $base-decor-color-5;
	}
}

/* zoom unit */
.zoom-unit {
	position: static;
	overflow: visible;
	padding: 30px 0;

	&__mask {
		overflow: visible;
	}

	.btn-prev,
	.btn-next {
		top: 50%;
		bottom: auto;
		margin: -17px 0 0;
	}
}

/* review form */
.review-form {

	.error {

		.error-message {
			position: static;
			top: auto;
			left: auto;
			right: auto;
			display: block;
			padding: 5px 0 0;
		}
	}
}