<div class="footer-nav-panel__wrap sticky-item">
	<ul class="footer-nav">
		<li class="footer-nav__item footer-nav__item_type_home">
			<a class="footer-nav__link" href="#">Home</a>
		</li>
		<li class="footer-nav__item">
			<a class="footer-nav__link" href="tel:919999899998">Call Us</a>
		</li>
		<li class="footer-nav__item">
			<a class="footer-nav__link" href="#">Offers</a>
		</li>
		<li class="footer-nav__item">
			<a class="footer-nav__link" href="#">Download App</a>
		</li>
	</ul>
</div>