<div class="footer-panel">
	<div class="contact-info">
		<h3 class="contact-info__title">CONTACT</h3>
		<div class="contact-list">
			<dl class="contact-list__item">
				<dt class="contact-list__ttl contact-list__ttl_type_phone">
					<i class="ico-phone"></i>
					<span class="contact-list__ttl-text">Phone</span>
				</dt>
				<dd>
					<a href="tel:9999899998">(0) 99-99-8 99-99-8</a>
				</dd>
			</dl>
			<dl class="contact-list__item">
				<dt class="contact-list__ttl contact-list__ttl_type_email">
					<i class="ico-email"></i>
					<span class="contact-list__ttl-text">email</span>
				</dt>
				<dd>
					<a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#108;&#101;&#110;&#115;&#107;&#097;&#114;&#116;&#046;&#099;&#111;&#109;">&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#108;&#101;&#110;&#115;&#107;&#097;&#114;&#116;&#046;&#099;&#111;&#109;</a>
				</dd>
			</dl>
		</div>
	</div>
</div>