<div class="header-panel__wrap sticky-item">
	<div class="header-panel__panel">
		<div class="header-panel__nav-cell">
			<div class="main-nav-unit">
				<a href="#" class="nav-opener"><span class="nav-opener__ico">Menu</span></a>
				<nav class="main-nav">
					<div class="main-nav__holder">
						<div class="category-unit">
							<strong class="category-unit__title">SHOP FOR</strong>
							<ul class="category-unit__list">
								<li class="category-unit__item">
									<a class="category-unit__link category-unit__link_js_opener" href="#">Men</a>
									<div class="category-unit__content">
										<ul class="category-unit__sub-list">
											<li><a href="#">Eyeglasses</a></li>
											<li><a href="#">Sunglasses</a></li>
											<li><a href="#">Contact Lenses</a></li>
											<li><a href="#">Prescription Sunglasses</a></li>
											<li><a href="#">Zero Power Eyeglasses</a></li>
											<li><a href="#">Latest Collection</a></li>
										</ul>
									</div>
								</li>
								<li class="category-unit__item">
									<a class="category-unit__link category-unit__link_js_opener" href="#">Women</a>
									<div class="category-unit__content">
										<ul class="category-unit__sub-list">
											<li><a href="#">Eyeglasses</a></li>
											<li><a href="#">Sunglasses</a></li>
											<li><a href="#">Contact Lenses</a></li>
											<li><a href="#">Prescription Sunglasses</a></li>
											<li><a href="#">Zero Power Eyeglasses</a></li>
											<li><a href="#">Latest Collection</a></li>
										</ul>
									</div>
								</li>
								<li class="category-unit__item">
									<a class="category-unit__link category-unit__link_js_opener" href="#">Kids</a>
									<div class="category-unit__content">
										<ul class="category-unit__sub-list">
											<li><a href="#">Eyeglasses</a></li>
											<li><a href="#">Sunglasses</a></li>
											<li><a href="#">Contact Lenses</a></li>
											<li><a href="#">Prescription Sunglasses</a></li>
											<li><a href="#">Zero Power Eyeglasses</a></li>
											<li><a href="#">Latest Collection</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						<div class="category-unit">
							<strong class="category-unit__title">OUR SERVICES</strong>
							<ul class="category-unit__list">
								<li class="category-unit__item">
									<a href="#" class="category-unit__link">Home Eye Check-up</a>
								</li>
								<li class="category-unit__item">
									<a href="#" class="category-unit__link">Free Home Trial</a>
								</li>
								<li class="category-unit__item">
									<a href="#" class="category-unit__link">Optical Stores</a>
								</li>
								<li class="category-unit__item">
									<a href="#" class="category-unit__link">Local Optician v/s Lenskart</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			<div class="logo">
				<a href="#">
					<img src="../../images/logo.png" width="74" height="33" alt="lenskart">
				</a>
			</div>
		</div>
		<div class="header-panel__landing-cell">
			<div class="landing-nav-unit">
				<a href="#" class="landing-opener"><span class="landing-opener__dots">Open landing links</span></a>
				<nav class="landing-nav">
					<ul class="landing-nav__list">
						<li class="landing-nav__item">
							<a class="landing-nav__link" href="#">Download App</a>
						</li>
						<li class="landing-nav__item">
							<a class="landing-nav__link" href="#">Contact Us</a>
						</li>
						<li class="landing-nav__item">
							<a class="landing-nav__link" href="#">Feedback</a>
						</li>
						<li class="landing-nav__item">
							<a class="landing-nav__link" href="#">Link4</a>
						</li>
						<li class="landing-nav__item">
							<a class="landing-nav__link" href="#">Link5</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="user-links-block">
			<div class="user-links">
				<div class="user-links__item">
					<a href="#" class="user-links__link user-links__link_type_track">Track Order</a>
				</div>
				<div class="user-links__item">
					<a href="#" class="user-links__link user-links__link_type_profile">
						Profile
						<span class="user-links__ico-check"></span>
					</a>
				</div>
				<div class="user-links__item">
					<a href="#" class="user-links__link user-links__link_type_cart">
						Cart
						<span class="user-links__qty-wrap">
							<span class="user-links__qty">0</span>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>