<div class="search-panel">
	<div class="search-panel__holder">
		<span class="offer-item">
			<a href="#">
				<img src="../../images/img-offer.png" width="78" height="39" alt="Hot offers">
			</a>
		</span>
		<div class="search-holder">
			<form action="#" class="search-form">
				<div class="text-field">
					<input type="text" id="search-autocomplete" data-url="inc/autocomplete/search-autocomplete.json">
				</div>
				<input type="submit" value="GO" class="btn-submit">
			</form>
		</div>
	</div>
</div>