<div class="step-box cart-info-box">
	<div class="details-unit">
		<div class="details-unit__heading">
			<a href="#" class="details-unit__opener">View Cart</a>

			<div class="order-heading">
				<strong class="order-title">Order Total</strong>
				<div class="order-price-info">
					<div class="price-box">
						<span class="price">Rs. 4912.95</span>
					</div>
				</div>
			</div>
		</div>
		<div class="details-unit__slide">
			<div class="details-unit__content">
				<div class="order-box">
					<div class="order-info-holder">
						<div class="order-info">
							<dl class="order-info__item order-info__item_note">
								<dt>You Save</dt>

								<dd>Rs. 52.00</dd>
							</dl>

							<dl class="order-info__item">
								<dt>
									Tax Collected
									<div class="info-icon-unit">
										<div class="info-icon-unit__icon info-icon-unit__icon_green">
											<span class="icon-info icon-info_green">Info</span>
										</div>
										<div class="info-icon-unit__popup info-icon-unit__popup_green">
											<button type="button" class="info-icon-unit__close info-icon-unit__close_green">Close</button>
											<div class="info-icon-unit__popup-holder info-icon-unit__popup-holder_green">
												<p>"This is part of VAT/CST, deposited by company to government. All our products are genuine and with bills."</p>
											</div>
										</div>
									</div>
								</dt>
								<dd>Rs. 233.95</dd>
							</dl>
							<dl class="order-info__item">
								<dt>Shipping Charges</dt>
								<dd>Free</dd>
							</dl>
						</div>
					</div>
				</div>

				<div class="order-box order-item">
					<div class="order-item__heading">
						<div class="order-item__heading-holder">
							<div class="order-item__image">
								<img src="images/img-order-01.jpg" width="108" height="42" alt="product image">
							</div>
							<div class="order-item__title-holder">
								<div class="order-item__title-text">
									<strong class="order-item__title">
										<a href="#">VINCENT CHASE VC 6448 BLACK 1010 EYEGLASSES</a>
									</strong>
								</div>
								<div class="order-control">
									<div class="loader-box">
										<span class="order-control__ttl">Qty</span>
										<div class="counter-item">
											<button class="counter-item__btn counter-item__decrease btn-show-loader">-</button>
											<span class="loader"></span>
											<input class="counter-item__field" type="number" value="1">
											<button class="counter-item__btn counter-item__increase btn-show-loader">+</button>
											<span class="loader"></span>
										</div>
										<a href="#" class="btn-trash btn-show-loader">Delete</a>
										<span class="loader"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="order-item__content">
						<div class="price-unit">
							<div class="terms-unit">
								<div class="term term_first">
									<div class="term__title">
										<strong class="term__ttl">Frame Price</strong>
									</div>
									<div class="price-box price-box_type_old">
										<span class="currency">Rs.</span>
										<span class="price">1899</span>
									</div>
									<div class="price-box">
										<span class="currency">Rs.</span>
										<span class="price">1299</span>
									</div>
								</div>
								<span class="terms-unit__plus">+</span>
								<div class="term term_second">
									<div class="term__title">
										<strong class="term__ttl">Lens Package:</strong>
										<p>American Optical thin</p>
									</div>
									<div class="price-box price-box_type_old">
										<span class="currency">Rs.</span>
										<span class="price">1790</span>
									</div>
									<div class="price-box">
										<span class="currency">Rs.</span>
										<span class="price">1690</span>
									</div>
								</div>
							</div>
							<div class="price-total">
								<span class="price-total__equal">=</span>
								<strong class="price-total__ttl">subtotal</strong>
								<div class="price-box">
									<span class="currency">Rs.</span>
									<span class="price">2989</span>
								</div>
							</div>
						</div>
						<em class="date-item">
							Estimated Dispatch Date:
							<time datetime="2015-07-31">31st July 2015</time>
						</em>
					</div>
				</div>

				<div class="order-box order-item">
					<div class="order-item__heading">
						<div class="order-item__heading-holder">
							<div class="order-item__image">
								<img src="images/img-order-01.jpg" width="108" height="42" alt="product image">
							</div>
							<div class="order-item__title-holder">
								<div class="order-item__title-text">
									<strong class="order-item__title">
										<a href="#">VINCENT CHASE VC 6448 BLACK 1010 EYEGLASSES</a>
									</strong>
								</div>
								<div class="order-control">
									<div class="loader-box">
										<span class="order-control__ttl">Qty</span>
										<div class="counter-item">
											<button class="counter-item__btn counter-item__decrease btn-show-loader">-</button>
											<span class="loader"></span>
											<input class="counter-item__field" type="number" value="1">
											<button class="counter-item__btn counter-item__increase btn-show-loader">+</button>
											<span class="loader"></span>
										</div>
										<a href="#" class="btn-trash btn-show-loader">Delete</a>
										<span class="loader"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="order-item__content">
						<div class="price-unit">
							<div class="terms-unit">
								<div class="term term_first">
									<div class="term__title">
										<strong class="term__ttl">Frame Price</strong>
									</div>
									<div class="price-box price-box_type_old">
										<span class="currency">Rs.</span>
										<span class="price">1899</span>
									</div>
									<div class="price-box">
										<span class="currency">Rs.</span>
										<span class="price">1299</span>
									</div>
								</div>
								<span class="terms-unit__plus">+</span>
								<div class="term term_second">
									<div class="term__title">
										<strong class="term__ttl">Lens Package:</strong>
										<p>American Optical thin</p>
									</div>
									<div class="price-box price-box_type_old">
										<span class="currency">Rs.</span>
										<span class="price">1790</span>
									</div>
									<div class="price-box">
										<span class="currency">Rs.</span>
										<span class="price">1690</span>
									</div>
								</div>
							</div>
							<div class="price-total">
								<span class="price-total__equal">=</span>
								<strong class="price-total__ttl">subtotal</strong>
								<div class="price-box">
									<span class="currency">Rs.</span>
									<span class="price">2989</span>
								</div>
							</div>
						</div>
						<em class="date-item">
							Estimated Dispatch Date:
							<time datetime="2015-07-31">31st July 2015</time>
						</em>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
