// import additional files like mixins, variables ...
@import "utils/markup-variables";
@import "utils/markup-mixins";

/*
	Need for some devices which don't display ₹ symbol
	but display it using '`' symbol
*/
.currency {

	&_type_indian {
		@include hide-text;

		&:before {
			content: '`';
			float: left;
			text-indent: 0;
		}
	}
}